body{
	min-width: 100% !important;
	max-width: 100% !important;
	width: 100% !important;
}
.tou,.dibu,.last_next,.hide_s,.wip_locat_bg,.top_nav,.top_dh,.top_tiao,.dingbu{
	display: none;
}
.xxgk_table{display:none}	
.share_bg{
	margin-left: 0px;
}
#mdgov_siteWrapper{display:none !important;}
.sign{
	float: none;
	margin:auto;
	width: 100%;
	text-align: center;
}
.wip_art_conbg{
	border: 0px;
}
.top_small,.dibu_smalll{
	display: block;
}

.dibu_smalll{
	width: 100%;
	height: 140px;
	background: #e2e2e2;
	line-height: 30px;
	color: #000000;
	min-width: 100%;
	max-width: 100%;
	margin-top: 30px;
	padding: 30px;
	padding-top: 20px;
    text-align: center;
}
.dibu_smalll p{
	
}
.dibu_smalll a{
	color: #000000;	
}
.top_small{
	width: 100%;
	height: 150px;
	min-width: 100%;
	max-width: 100%;
	margin-bottom: 30px;
	text-align: center;
}
.top_small img{
width: 100%;	
	
}
.wip_art_conbg{
	width: 100%;
}
.wip_art{
	width: 90%;
	margin: auto;
}
table {
        width:90% !important;
	}
	
	.art_con img {
        width:90% !important;
height: 90% !important;
	}