.foot-CRselectBoxOptions1 { width: 186px !important; padding: 0 0 !important; float: left; }
.fenlei_lanmu { height: 255px; }
* { margin: 0; padding: 0; font-family: "微软雅黑"; }
.list_txt>a { height: 40px; line-height: 40px; display: block; overflow: hidden; float: left; width: 675px; font-size: 16px; text-overflow: ellipsis; white-space: nowrap; }
.w { width: 1100px; height: 180px; margin: auto }
.w .title { font-size: 45px; color: #355e92; float: left; padding-left: 90px; padding-top: 44px; }
.cont { margin-top: 20px; width: 1200px; overflow: hidden; margin: auto; margin-top: 30px; margin-bottom: 30px; }
.cont_left { float: left; width: 310px; background: #f7f7f7; padding-bottom: 9999px; margin-bottom: -9999px; }
.left_title { width: 270px; height: 55px; margin: auto; border-bottom: 1px solid #666666; }
.title_img { float: left; margin-left: 5px; margin-top: 11px; }
.title_txt { float: left; margin-left: 15px; line-height: 55px; height: 50px; font-size: 20px; color: #bb2335; }
.fenlei { width: 270px; height: 300px; margin: auto; background: #FFFFFF; }
.fenlei_title { width: 100%; height: 40px; background: #355e92; line-height: 40px; color: #FFFFFF; font-size: 18px; padding-left: 20px; }
.gongkai { width: 300px; margin: auto; margin-top: 30px; }
.gongkai>div { width: 300px; height: 120px; margin-bottom: 10px; }
.gongkai>div>div { float: left; width: 150px; }
.gongkai>div>div>a { /* display: block; */
}
.gongkai>div>div>a>div { width: 71px; height: 71px; margin: auto; }
.gongkai>div>div>a>p { text-align: center; line-height: 40px; font-size: 15px; }
.cont_right { float: left; width: 865px; margin-left: 25px; }
.lunbo { width: 865px; height: 302px; }
.xinwen { width: 865px; height: 370px; margin-top: 10px; padding-left: 10px; float: left;/* clear: both; */
}
.xinwen_title { width: 100%; height: 36px; border-bottom: 1px solid #e1e1e1; }
.xin_title { float: left; font-size: 17px; color: #355e92; line-height: 36px; font-weight: bold; border-bottom: 2px solid #355e92; }
.xin_more { float: right; height: 36px; }
.xin_more>a { line-height: 36px; color: #333333; font-size: 15px; }
.xinwen_list { width: 100%; height: 315px; margin-top: 12px; }
.xinwen_list>div { width: 100%; line-height: 40px; overflow: hidden; }
.xinwen_list>div>div { float: left; margin-left: 10px; }
.xinwen_list>div>p { float: right; font-size: 16px; }
.list_img { line-height: 35px; }
.lianjie { height: 70px; width: 100%; background: #ebebeb; }
/* 切换 */
.div2-2-1 { width: 48%; float: right; }
.tit1 { width: 100%; height: 50px; line-height: 48px; border-bottom: 1px solid #dedede; }
.tit1 li { float: left; font-size: 17px; font-weight: bold; }
.tit1 .more { float: right; }
.tit1 span { float: left; margin: 0 10px; }
.hover a { color: #355e92; border-bottom: 2px solid #355e92; display: block; }
.list1 { width: 96%; }
.list1 li { line-height: 30px; padding-left: 10px; background: url(http://www.rencheng.gov.cn/images/1516/wbj_pic_1_11.jpg) no-repeat left center; height: 30px; width: 100%; margin-left: 10px; }
.list1 li a { float: left; }
.list1 li span { float: right; color: #333 }
/*外框大小可调节*/
.cont1_left { width: 600px; height: 302px; float: left; }
/*轮播*/
.lunbo { width: 600px; height: 100%; float: left; }/*宽高自适应*/
img { border: 0; }
a { text-decoration: none; color: #333; }
.js { width: 90%; margin: 10px auto 0 auto; }
.js p { padding: 5px 0; font-weight: bold; overflow: hidden; }
.js p span { float: right; }
.js p span a { color: #f00; text-decoration: underline; }
.js textarea { height: 100px; width: 98%; padding: 5px; border: 1px solid #ccc; border-top: 2px solid #aaa; border-left: 2px solid #aaa; }
.bord { width: 100%; height: 100%; border: solid 0px #ccc; padding: 2px; }
.focusBox { position: relative; width: 100%; height: 100%; overflow: hidden; font: 12px/1.5 Verdana, Geneva, sans-serif; text-align: left; background: white; }
/*照片尺寸更改*/
.focusBox .pic li a { display: table-cell; vertical-align: middle; text-align: center; width: 100%; display: block; }
.focusBox .pic img { width: auto; height: 298px; display: block; overflow: hidden; margin: 0 auto; }
.focusBox .pic { float: left; width: 600px; height: 298px; }
.focusBox .pic li { width: 862px; height: 298px; text-align: center; }
.focusBox .txt-bg { position: absolute; bottom: 0; z-index: 1; height: 36px; width: 100%; background: #333; filter: alpha(opacity=40); opacity: 0.4; overflow: hidden; }
.focusBox .txt { position: absolute; bottom: 0; z-index: 2; height: 37px; width: 100%; overflow: hidden; }
.focusBox .txt li { height: 36px; line-height: 36px; position: absolute; bottom: -36px; width: 720px; overflow: hidden; }
.focusBox .txt li a { display: block; color: white; padding: 0 0 0 10px; font-size: 15px;/*font-weight: bold;*/ text-decoration: none; overflow: hidden; text-decoration: none; text-overflow: ellipsis; white-space: nowrap; }
/*bottom--调节点击按钮高度*/
.focusBox .num { position: absolute; z-index: 3; bottom: 15px; right: 10px; }
.focusBox .num li { float: left; position: relative; width: 25px; height: 5px; line-height: 15px; overflow: hidden; text-align: center; margin-right: 5px; cursor: pointer; }
.focusBox .num li a, .focusBox .num li span { position: absolute; z-index: 2; display: block; color: white; width: 100%; height: 100%; top: 0; left: 0; text-decoration: none; }
.focusBox .num li span { z-index: 1; background: #99d6fa; filter: alpha(opacity=50); opacity: 0.5; }
/*按钮颜色变色*/
.focusBox .num li.on a, .focusBox .num a:hover { background: #e38038; }
.top { width: 100%; height: 230px; }
.top_nav { height: 180px; max-width: 100%; background: url(http://www.rencheng.gov.cn/images/1516/header.png) no-repeat center; margin: auto; }
/* 友情链接 */
.yqlj { height: 85px; background: #f9f9f9; border-top: 3px #5c7dad solid; }
.yqlj ul { width: 1200px; min-height: 80px; margin: auto; padding: 23px 75px; }
.yqlj ul li { width: 186px !important; float: left; margin-left: 30px; position: relative; }
.yqlj ul li:first-child { margin-left: 0px; }
.yqlj ul li .selector_first { width: 100%; line-height: 40px; display: inline-block; margin: 0 auto; cursor: pointer; background: url(../image/1908261746487079537.png) no-repeat; padding-left: 20px; font-size: 14px; color: #333; }
.yqlj ul li .hover { background: url(http://www.rencheng.gov.cn/images/1516/yqljjt.jpg) no-repeat 190px 15px; }
.selector_second { background: #fff; border: 1px solid #999; list-style: none; overflow-y: auto; z-index: 1000; position: absolute; bottom: 40px; width: 186px; min-height: 80px; display: none; overflow: hidden; font-size: 13px; }
.selector_second ul { display: block; }
.selector_second ul li { float: none; line-height: 40px; margin-left: 0 !important; cursor: pointer; width: auto; font-size: 14px; margin-right: 0; height: 40px; }
.selector_second ul li:hover { background: #ededed; }
/*政府采购专栏*/
.zhuanlan { width: 240px; float: right; }
.zhuanlan h3 { color: #058ac7; line-height: 50px; font-size: 24px; text-align:center; margin-bottom:15px; }
.zhuanlan ul li { height: 50px; border: 1px solid #dbe4ec; background-color: #fdfdfd;  margin-bottom: 12px; }
.zhuanlan ul li a { display: block;line-height: 50px; }
.zhuanlan ul li a img{ width:23%; float:left;padding: 10px 12px 0 11px;}
.zhuanlan .cz{ height: 50px; width: 100%; }
.zhuanlan .cz a{ display: block; text-align: center; line-height: 50px; color: #058ac7; font-size: 22px; font-weight: bold;background-color: #bee2f2; margin-bottom: 12px;}
