 
body {
	margin: 0;
	padding: 0;
	font: 12px/1.5 \5b8b\4f53, Arial, sans-serif;/*background:#ffffff;*/
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p {
	padding: 0;
	margin: 0;
}
table, td, tr, th {
	font-size: 12px;
}
ol, ul {
	list-style: none;
}
li {
	list-style-type: none;
}
img {
	vertical-align: top;
	border: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: normal;
}
address, cite, code, em, th, i {
	font-weight: normal;
	font-style: normal;
}
.fl{
	float: left;
}
.fr{
	float: right;
}

.clear{
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}
.clear:after{
	overflow: auto; zoom: 1;
}
.top {
	width: 100%;
	height: 5px;
	background: #0075a9;
	overflow: hidden;
}
.logo {
	width: 1000px;
	height: 170px;
	margin: 0 auto;
}
.brall {
	width: 100%;
	height: 380px;
	background: #7fbad4;
}
.br {
	width: 1000px;
	height: 380px;
	margin: 0 auto;
	border-left: 1px #ffffff solid;
	border-right: 1px #ffffff solid;
}
.nav {
	width: 1000px;
	height: 720px;
	margin: 0 auto;
	/*background-color: paleturquoise;*/
}
.nav li {
	width: 485px;
*width:485px;
	height: 100px;
	background: #0075a9;
	float: left;
	/*margin: 15px 20px;*/
	margin-top: 1px;
	margin-bottom: 24px;
	/*margin-left: 10px;*/
	/*margin-right: 10px;*/
	display: inline
}
#a1,#a3,#a5,#a7,#a9,#a11{
	margin-left: 0;
	margin-right: 30px;
}
.nav li a {
	display: block;
	width: 485px;
*width:485px;
	height: 100px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	line-height: 100px;
	/*padding: 20px 20px 0 20px;*/
	font-family: 微软雅黑;
 	font-weight： :700;
}
.nav .hover {
	background: #ec6100
}
.cu {
	cursor: not-allowed
}
.footr {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
	font-family: '微软雅黑';
	line-height: 23px;
	color: #434343
}
