
/* CSS Document */
* { padding: 0; margin: 0; box-sizing: border-box; }
body, a, div, p, ul, li, img, h3 { margin: 0; padding: 0; }
body { font-family: "微软雅黑" !important; background-color: #f9f6f6; }
a { text-decoration: none; font-family: "微软雅黑"; color: #000; }
ul li { list-style: none; }
.clear { clear: both; }
ul:before, ul:after { content: ""; display: table; clear: both; }
.top_header { background: url(../image/banner4.jpg) top center; height: 400px; }
.top_side { width: 1200px; margin: 0 auto; }
.top_side a { display: block; float: right; background-color: #e55b2c; color: #fff; padding: 2px 10px; margin-top: 10px; font-size: 14px; margin-left: 10px; }
/*主体内容*/
.container { width: 1200px; margin: 10px auto; }
.con_top { background-color: #fff; margin-bottom: 10px; padding:30px 20px; }
.con_mid { background-color: #fff; margin-bottom: 10px; padding:30px 20px; }
.con_title { width: 100%; margin-bottom: 30px; background: url(../image/tit_bg.png) no-repeat top center; height: 50px; }
.con_title h3 { display: block; text-align: center; font-size: 36px; color: #e55b2c; }
.con_box { float: left; width: 260px; height: 70px; color: #000; background-color:#f5f5f5; margin:0 15px; padding:0 20px; position:relative;}
.con_box p,.con_box a { width: 100%; display:block;}
.con_box p span,.con_box a span{ line-height:70px; font-size:18px; display:block; float:left;}
.con_box p img,.con_box a img{ display:block; float:left; width:50px; margin-top:10px; margin-right:20px;}
.submenu { display: none; position: absolute; z-index: 1; left:0; top:70px; padding-top:27px;}
.submenu i { width: 37px; height: 22px; position: absolute; background: url(../image/icon6.png) no-repeat; top: 6px; left: 100px; }
.submenu ul { border: 1px #3673b6 solid; padding: 10px 0; background-color: #fff; }
.submenu ul li { height: 35px; line-height: 35px; padding-left: 20px; cursor:pointer; }
.submenu ul li:hover .li_box{ display:block;}
.li_box{ position:absolute; left:-260px; top:25px; display:none; z-index:99; background-color:#fff; width:260px; height:127px; padding:20px; font-size:14px; line-height:20px;}
.con_box:hover .submenu { display: block; width: 100%; }
.con_bot { background-color: #fff; margin-bottom: 10px; padding:30px 20px; }
.con_bot ul li a span, .con_bot ul li span { display: block; float: left; padding-left: 20px; font-size: 20px; color: #fff; }
.con_bot ul li a img, .con_bot ul li img { height: 30px; margin-top: 15px; margin-right: 20px; display: block; float: right; }
/*交易信息*/
.link_ul>li { float: left; width: 260px; height: 60px !important;  margin:0 15px; margin-bottom: 30px; position: relative; line-height: 60px !important; text-align: center !important; background-color: #0799cb; color: #fff; }
.link_ul>li>a { display: block; line-height: 60px !important; text-align: center !important; width: 100%; color: #fff; }
.link_ul>li:hover { margin-bottom: 30px; }
.link_ul>li:hover>a { color: #e55b2c; }
.link_ul2 { display: none; position: absolute; left: 0; top: 60px; background-color: #cff0fb; width: 100%; z-index: 1; border: 1px #ddd solid; }
.link_ul li:hover .link_ul2 { display: block; }
.link_ul2 li { height: 35px; width: 100%; }
.link_ul2 li a { line-height: 35px; text-align: center; display: block; width: 100%; }
.link_ul2 li a:hover { background-color: #66b9d5; color: #fff; }
