
body{
	margin:0;
	padding:0;
	vertical-align: baseline;
	color:#333;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	}
ul,li,img {list-style:none;border:none; padding:0; margin:0;}
a {text-decoration:none;cursor:pointer;outline:none; color:#333}	
.container {
    width: 1100px;
}
.header {
	width:100%;
	height: 120px;
	position: relative;
	box-shadow: 0 0 .5rem 0 rgba(90,165,265,.5);
  z-index: 99;
}

.head-cont{
	width:1100px;
	margin:0 auto;
	}
.head-top{ height: 70px;	line-height:70px;}	
.head-left{
	width:480px;
	display: flex;
	float: left;
	}	
.logo{
	margin-top:10px;
	}	
	.site{
		margin-left:15px;
		font-size:13px;
		padding: 5px 15px;
		height: 30px;
		line-height: 20px;
		color: #666;
		background:#f0f0f0;
		cursor:pointer;
		margin-top: 40px;
		}
		.site img{ margin-left: 6px;}
	.head-right{
		width: 350px;
		float:right;
		display: flex;
		font-size: 13px;
	}
	.head-right a{margin:0px 10px;}


/*站点切换*/
.site-mian{
	font-size:14px;
	width:1100px;
	margin:0 auto;
	position: absolute;
    top: 70px;
    z-index: 20;
	background-color: rgba(255,255,255,1);
	display:none;
	box-shadow: 0px 0px 15px rgba(150, 150, 150, .5);
	}
	
.site-mian a{ color:#333}	
.site-m-c{
	width:980px;
	margin:0 auto;
	padding:15px 0px;
	}
.site-info{
	padding:15px 0px;
	line-height:28px;
	border-bottom:1px dashed #707070;
	display:flex;
	}
.site-info-b{
	font-size:16px;
	color:#3c82e6;
	width:120px;
	text-align:right;
	/*font-weight:bolder;*/
	}
.site-info-n{
	margin-left:20px;
	display:flex;
	}
.site-a{
	padding:0px 8px;
	margin:0px 10px;
	}
.site-info-n a:hover{
	background:#f6f6f6;
	}								
/*nav*/
.nav{
	width:1100px;
	margin-top: 9px;
	position: absolute;
	}
.nav ul{
	padding:0;
	margin:0;
	list-style:none;
	}		
.nav ul li{
	font-size:16px;
	height: 40px;
	line-height:40px;
	padding:0 10px;
	display: inline-block;
	cursor:pointer;
	margin: 0px 10px;
	}
.nav ul li a{}	
.nav ul li:hover {
	color:#3e97df;
	border-bottom: 3px solid #3e97df;
	}
.nav ul li:hover a {
	color:#3e97df;
	}	
.nav .checked{
	color:#3e97df;
	border-bottom: 3px solid #3e97df;}		
	.nav .checked a {color:#3e97df;}	
.nav1{
	height:48px;
	width:100%;
	background-color: rgba(0,0,0,0.6);
	}
