.foot-CRselectBoxOptions1 {
	width: 186px !important;
	padding: 0 0 !important;
	float: left;
}
.fenlei_lanmu {
	height: 255px;
}
* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
ul:before, ul::after{ content: ""; display: table; clear: both;}
.list_txt>a {
	height: 40px;
	line-height: 40px;
	display: block;
	overflow: hidden;
	float: left;
	width: 460px;
	font-size: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.w {
	width: 1100px;
	height: 180px;
	margin: auto
}
.w .title {
	font-size: 45px;
	color: #355e92;
	float: left;
	padding-left: 90px;
	padding-top: 44px;
}
.cont {
	margin-top: 20px;
	width: 1200px;
	overflow: hidden;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding:0 20px;
	background-color:#fff;
}
.con-box{
	background-color:#f1f1f1;
	}
.gongkai {
	width: 300px;
	margin: auto;
	margin-top: 30px;
}
.gongkai>div {
	width: 300px;
	height: 120px;
	margin-bottom: 10px;
}
.gongkai>div>div {
	float: left;
	width: 150px;
}
.gongkai>div>div>a {
/* display: block; */
}
.gongkai>div>div>a>div {
	width: 71px;
	height: 71px;
	margin: auto;
}
.gongkai>div>div>a>p {
	text-align: center;
	line-height: 40px;
	font-size: 15px;
}
.cont_right {
	float: left;
	width: 865px;
	margin-left: 25px;
}
/*.lunbo{
	width:865px;
	height: 302px;
}
*/
.cont_top{height: 575px;
    padding: 25px 0;
	}
/*左侧*/
.cont_top_left{
	width:895px;height: 526px; float:left;
	}
.cont_top_leftt{height: 300px;}
/*外框大小可调节*/
.cont1_left {
	width: 450px;
	height: 300px;
	float: left;
}
/*轮播*/
.lunbo {
	width: 450px;
	height: 300px;
	float: left;
}/*宽高自适应*/
img {
	border: 0;
}
a {
	text-decoration: none;
	color: #333;
}
.js {
	width: 90%;
	margin: 10px auto 0 auto;
}
.js p {
	padding: 5px 0;
	font-weight: bold;
	overflow: hidden;
}
.js p span {
	float: right;
}
.js p span a {
	color: #f00;
	text-decoration: underline;
}
.js textarea {
	height: 100px;
	width: 98%;
	padding: 5px;
	border: 1px solid #ccc;
	border-top: 2px solid #aaa;
	border-left: 2px solid #aaa;
}
.bord {
	width: 100%;
	height: 100%;
	border: solid 0px #ccc;
	padding: 2px;
}
.focusBox {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: 12px/1.5 Verdana, Geneva, sans-serif;
	text-align: left;
	background: white;
}
/*照片尺寸更改*/
.focusBox .pic li a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	display: block;
}
.focusBox .pic img {
	width: auto;
	height: 298px;
	display: block;
	overflow: hidden;
	margin: 0 auto;
}
.focusBox .pic {
	float: left;
	width: 450px;
	height: 300px;
}
.focusBox .pic li {
	width: 446px;
	height: 298px;
	text-align: center;
}
.focusBox .txt-bg {
	position: absolute;
	bottom: 0;
	z-index: 1;
	height: 36px;
	width: 100%;
	background: #333;
	filter: alpha(opacity=40);
	opacity: 0.4;
	overflow: hidden;
}
.focusBox .txt {
	position: absolute;
	bottom: 0;
	z-index: 2;
	height: 37px;
	width: 100%;
	overflow: hidden;
}
.focusBox .txt li {
	height: 36px;
	line-height: 36px;
	position: absolute;
	bottom: -36px;
	width: 450px;
	overflow: hidden;
}
.focusBox .txt li a {
	display: block;
	color: white;
	padding: 0 0 0 10px;
	font-size: 15px;/*font-weight: bold;*/
	text-decoration: none;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*bottom--调节点击按钮高度*/
.focusBox .num {
	position: absolute;
	z-index: 3;
	bottom: 15px;
	right: 10px;
}
.focusBox .num li {
	float: left;
	position: relative;
	width: 25px;
	height: 5px;
	line-height: 15px;
	overflow: hidden;
	text-align: center;
	margin-right: 5px;
	cursor: pointer;
}
.focusBox .num li a, .focusBox .num li span {
	position: absolute;
	z-index: 2;
	display: block;
	color: white;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
}
.focusBox .num li span {
	z-index: 1;
	background: #99d6fa;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
/*按钮颜色变色*/
.focusBox .num li.on a, .focusBox .num a:hover {
	background: #e38038;
}
.top {
	width: 100%;
	height: 230px;
}
.top_nav {
	height: 180px;
	max-width: 100%;
	background: url(../image/header.png) no-repeat center;
	margin: auto;
}
/*新闻*/
.div2-2-1 {
	width: 425px;height: 300px;float:right;
}
.tit1 {
	width: 100%;
	height: 50px;
	line-height: 48px;
	border-bottom: 1px solid #dedede;
}
.tit1 li {
	float: left;
	font-size: 17px;
	font-weight: bold;
}
.tit1 .more {
	float: right;
}
.tit1 span {
	float: left;
	margin: 0 10px;
}
.hover a {
	color: #355e92;
	border-bottom: 2px solid #355e92;
	display: block;
}
.list1 {
	width: 100%;
}
.list1 li {
	line-height: 40px;
	padding-left: 10px;
	background: url(../image/dian.jpg) no-repeat left center;
	height: 40px;
	width: 100%;
}
.list1 li a {
	float: left;
}
.list1 li span {
	float: right;
	color: #333
}
/*网上办事大厅*/
.fl{
	float:left;}
	.fr{
		float:right;
		}
.left_wsbs {
	height: 200px;
	margin-top: 25px;
	background: url(../image/angshangbanshi_03.png) no-repeat;
}
.left_wsbs ul li {
	width: 180px;
	height: 50px;
	background: url(../image/baise_03.png) no-repeat;
	position: relative;
	left: 85px;
	top: 120px;
	margin-left: 20px;
	float:left;
}
.left_wsbs ul li a {
	font-size: 17px;
	font-weight: bold;
	color: #366fb8;
	display: block;
	line-height: 50px;
	height: 50px;
	margin-left: 16px;
}
.left_wsbs ul li a span {
	margin-left: 16px;
}
.left_wsbs ul li a:hover {
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	display: block;
	line-height: 50px;
	height: 50px;
	margin-left: 16px;
}
.left_wsbs ul li img {
	margin-left: 45px;
	margin-top: 14px;
}
.left_wsbs ul li:first-child {
	margin-left: 0
}
.left_wsbs ul li:hover {
	background: url(../image/juse_10.png) no-repeat;
}
.left_wsbs ul li:hover a {
	color: #fff !important;
	font-size: 17px;
	font-weight: bold;
	display: block;
	line-height: 50px;
	height: 50px;
	margin-left: 16px;
}
.icon1 {
	background: url(../image/banshi1.png) no-repeat;
	width: 24px;
	height: 24px;
	margin-top: 14px;
	margin-left: 27px;
}
.left_wsbs ul li:hover .icon1 {
	background: url(../image/bnashi_03.png) no-repeat;
	width: 24px;
	height: 24px;
	margin-top: 14px;
	margin-left: 27px;
}
.icon2 {
	background: url(../image/zixun_13.png) no-repeat;
	width: 24px;
	height: 24px;
	margin-top: 14px;
	margin-left: 27px;
}
.left_wsbs ul li:hover .icon2 {
	background: url(../image/dd02.png) no-repeat;
	width: 24px;
	height: 24px;
	margin-top: 14px;
	margin-left: 27px;
}
.icon3 {
	background: url(../image/zhinan_06.png) no-repeat;
	width: 24px;
	height: 24px;
	margin-top: 14px;
	margin-left: 27px;
}
.left_wsbs ul li:hover .icon3 {
	background: url(../image/dd03.png) no-repeat;
	width: 24px;
	height: 24px;
	margin-top: 14px;
	margin-left: 27px;
}
.icon4 {
	background: url(../image/jiandu_08.png) no-repeat;
	width: 24px;
	height: 24px;
	margin-top: 14px;
	margin-left: 27px;
}
.left_wsbs ul li:hover .icon4 {
	background: url(../image/dd04.png) no-repeat;
	width: 24px;
	height: 24px;
	margin-top: 14px;
	margin-left: 27px;
}
/*右侧*/
.cont_top_right {
	width: 236px;
	height: 526px;
	float: right;
}
.gkgs {
}
.gkgs_title {
	height: 30px;
}
.gkgs_title a {
	font-size: 17px;
	color: #1b65b9;
	font-weight: bold;
	display: block;
	line-height: 14px;
}
.gkgs_con {
	background: #edf3fb;
	width: 235px;
	height: 200px;
	padding: 15px 15px;
}
.gkgs_con ul li {
	width: 100%;
	background: url(../image/dian.jpg) no-repeat left 12px;
	background-size: 3px 3px;
	padding-left: 13px;
	overflow: hidden;
}
.gkgs_con ul li a {
	font-size: 15px;
	color: #333;
	display: block;
	overflow: hidden;
	line-height: 29px;
}
.wmfw_title {
	height: 54px;
	line-height: 54px;
	font-size: 17px;
	color: #1b65b9;
	font-weight: bold;
}
.wmfw_title span {
	font-size: 17px;
	color: #1b65b9;
	font-weight: bold;
	display: block;
	line-height: 54px;
}
.wmfw_con {
	background: #edf3fb;
	width: 235px;
	height: 240px;
}
.wmfw_con ul li {
	width: 100%;
	background-size: 3px 3px;
	padding: 0px 15px;
}
.wmfw_con ul li a {
	font-size: 15px;
	color: #333;
	display: block;
}
.wmfw_con ul li span {
	display: block;
	height: 30px;
	line-height: 30px;
	position: relative;
	margin-left: 75px;
	margin-top: -30px;
	font-size: 15px;
	color: #fff;
}
/*第二部分*/
.guanggao{height: 110px; }
/*第三部分*/
.cont_middle{    height: 198px;margin-top:20px;}
/*政策法规*/
.zcfg{width:564px;height: 100%; float:left;}
.zcfg_title{height: 30px;border-bottom: 1px solid #eeeeee;width: 100%;}
.zcfg_title a{font-weight: bold;font-size: 17px;color: #1b65b9;width:104px;border-bottom: 2px solid #366fb8;height: 30px;display: block;text-align: center;}
.zcfg_con{height: 119px;margin-top: 43px;}
.zcfg_con ul li{float:left;}
.zcfg_con ul li:first-child{width:92px;height: 119px;}
.zcfg_con ul li:last-child{width:103px;height: 119px;}
.zcfg_con ul li img{display: block;margin-left: 46px;}
.zcfg_con ul li span{font-size: 15px;color: #333;margin-top: 28px;display: block;    width: 100%;text-align: center;}
/*荣誉墙*/
.xinwen {
	width: 562px;
	height: 198px;
	float: right;/* clear: both; */
}
.xinwen_title {
	width: 100%;
	height: 36px;
	border-bottom: 1px solid #e1e1e1;
}
.xin_title {
	float: left;
	font-size: 17px;
	color: #355e92;
	line-height: 36px;
	font-weight: bold;
	border-bottom: 2px solid #355e92;
}
.xin_title a{
	font-size: 17px;
	color: #355e92;
	}
.xin_more {
	float: right;
	height: 36px;
}
.xin_more>a {
	line-height: 36px;
	color: #333333;
	font-size: 15px;
}
.xinwen_list {
	width: 100%;
	height: 160px;
	margin-top: 43px;
}
.xinwen_list li{float:left;}
.xinwen_list li:first-child{width:92px;height: 119px;}
.xinwen_list li:last-child{width:103px;height: 119px;}
.xinwen_list li img{display: block;margin-left: 46px;}
.xinwen_list li span{font-size: 15px;color: #333;margin-top: 28px;display: block;    width: 100%;text-align: center;}
.list_img {
	line-height: 35px;
	    float: left;
    margin-left: 10px;
}
.lianjie {
	height: 70px;
	width: 100%;
	background: #ebebeb;
}
/*第四部分*/
.cont_mid2{height: 355px; margin-top:20px;}
/*营商政策*/

.div2-2-2{
	width: 564px;
	float: left;
}
.tit1{
	width: 100%;
	height: 50px;
	line-height: 48px;
	border-bottom: 1px solid #dedede;
}
.tit1 li{float: left;font-size: 17px;font-weight: bold;}
.tit1 .more{float: right;}
.tit1 span{float: left;margin: 0 10px;}
.hover a{color: #355e92;border-bottom: 2px solid #355e92;display: block;}
.list1{width: 100%;}
.list1 li{line-height: 37px;padding-left: 10px;background: url(../image/wbj_pic_1_11.jpg) no-repeat left center;height: 37px;width: 100%;}
.list1 li a{float: left;}
.list1 li span{float: right;color: #333}

/*色彩版块*/
.cont_mid2-m{
	width:250px;
	height:335px;
	float:left;
	margin-left:34px;
	}
.cont_mid2-m ul li{width:250px;height: 60px;line-height: 60px; margin:20px 0;}
.cont_mid2-m ul li img{margin-left: 37px;float: left;    margin-top: 15px;}
.cont_mid2-m ul li a{float: left;font-size: 17px;color: #fff;font-weight: bold;height: 60px;display: block;}
.cont_mid2-m ul li span{color: #c0d7f3;float: left;margin-left: 44px;margin-right: 20px;}
/*.cont_mid2-r*/

/*信息公开*/
.cont_mid2-r{
	float: right;
	width: 300px;
	background: #f7f7f7;
}
.left_title {
	width: 270px;
	height: 55px;
	margin: auto;
	border-bottom: 1px solid #666666;
}
.title_img {
	float: left;
	margin-left: 5px;
	margin-top: 11px;
}
.title_txt {
	float: left;
	margin-left: 15px;
	line-height: 55px;
	height: 50px;
	font-size: 20px;
	color: #bb2335;
}
.fenlei {
	width: 270px;
	height: 300px;
	margin: auto;
	background: #FFFFFF;
}
.fenlei_title {
	width: 100%;
	height: 40px;
	background: #355e92;
	line-height: 40px;
	color: #FFFFFF;
	font-size: 18px;
	padding-left: 20px;
}
/*第五部分*/
/*业务动态办理*/
 .cont_mid3{ margin-top:20px;}
    .cont_mid3_left{width:100%; margin-bottom: 20px;}
    .cont_mid3_left_title{height: 40px;line-height: 40px;}
    .cont_mid3_left_title span{color: #1b65b9;font-size: 19px; float: left; font-weight:bold;border-bottom: 2px solid #366fb8;height: 40px;display: block;width:200px;text-align: center;}
    .cont_mid3_left_title a{ display: block; float: right; color: #999; line-height: 40px; font-size: 14px;}
   /* .cont_mid3_left_con{height: 381px;border-bottom: 1px solid #efefef;}
	.cont_mid3_right{height: 423px;width:250px;}
     .cont_mid3_right_title{height: 40px;line-height: 40px;}
     .cont_mid3_right_title span{color: #1b65b9;font-size: 19px;font-weight:bold;border-bottom: 2px solid #366fb8;height: 40px;display: block;width:104px;text-align: center;}
     .cont_mid3_right_con{height: 270px;background:#eaf3fd;padding: 0 25px;}*/
	 .cont_mid3_left_con ul li{line-height: 37px;padding-left: 10px; float: left; background: url(../image/wbj_pic_1_11.jpg) no-repeat left center;height: 37px;width: 48%;}
	 .cont_mid3_left_con ul li:nth-child(2n){ float: right;}
	 .cont_mid3_left_con ul li a{float: left;}
	 .cont_mid3_left_con ul li span{float: right;color: #333}
/* 友情链接 */
.yqlj {
	height: 85px;
	background: #f9f9f9;
	border-top: 3px #5c7dad solid;
}
.yqlj ul {
	width: 1200px;
	min-height: 80px;
	margin: auto;
	padding: 23px 75px;
}
.yqlj ul li {
	width: 186px !important;
	float: left;
	margin-left: 30px;
	position: relative;
}
.yqlj ul li:first-child {
	margin-left: 0px;
}
.yqlj ul li .selector_first {
	width: 100%;
	line-height: 40px;
	display: inline-block;
	margin: 0 auto;
	cursor: pointer;
	background: url(../image/1908261746487079537.png) no-repeat;
	padding-left: 20px;
	font-size: 14px;
	color: #333;
}
.yqlj ul li .hover {
	background: url(../image/yqljjt.jpg) no-repeat 190px 15px;
}
.selector_second {
	background: #fff;
	border: 1px solid #999;
	list-style: none;
	overflow-y: auto;
	z-index: 1000;
	position: absolute;
	bottom: 40px;
	width: 186px;
	min-height: 80px;
	display: none;
	overflow: hidden;
	font-size: 13px;
}
.selector_second ul {
	display: block;
}
.selector_second ul li {
	float: none;
	line-height: 40px;
	margin-left: 0 !important;
	cursor: pointer;
	width: auto;
	font-size: 14px;
	margin-right: 0;
	height: 40px;
}
.selector_second ul li:hover {
	background: #ededed;
}
