
body{
	margin:0;
	padding:0;
	vertical-align: baseline;
	color:#333;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	}
ul,li,img {list-style:none;border:none; padding:0; margin:0;}
a {text-decoration:none;cursor:pointer;outline:none; color:#333}	


.top-cn{
	height: 450px;
	background:url(../image/head-bg.png) no-repeat center;
	background-size: cover;
	overflow: hidden;
}
.header {
	width:100%;
	height: 120px;
	border-bottom:1px solid #a0bee6;
	position: relative;
}
.header-search {
		width: 180px;
		height: 30px;
		line-height: 30px;
    position:absolute;
    right: 0;
    bottom: .65rem;
    background-color: #f1f2f3;
}
.header-search-input {
	width: 180px;
	height: 30px;
	border: none;
	padding: .15rem 0rem .15rem .4rem;
	background-color: transparent;
	float: left;
	color: #0d1c28;
	font-size: 13px;
	transition: all .3s ease;
}
.header-search-submit {
    position: absolute;
    right: 0;
    border: none;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    outline: 0;
    cursor: pointer;
    transition: all .3s ease;
}
.head-cont{
	width:1100px;
	margin:0 auto;
	}
.head-top{ height: 70px;	line-height:70px;}	
.head-left{
	width:500px;
	display: flex;
	float: left;
	}	
.logo{
	margin-top:10px;
	}	
	.site{
		margin-left:15px;
		font-size:13px;
		padding: 5px 15px;
		height: 20px;
		line-height: 20px;
		color: #fff;
		background:#6da9d5;
		cursor:pointer;
		margin-top: 40px;
		}
		.site img{ margin-left: 6px;}
	.head-right{
		width: 400px;
		float:right;
		display: flex;
		color:#333;
		font-size: 13px;
	}
	.head-right a{color:#333; margin:0px 10px;}

/*站点切换*/
.site-mian{
	font-size:14px;
	width:1100px;
	margin:0 auto;
	position: absolute;
    top: 70px;
    z-index: 20;
	background-color: rgba(255,255,255,1);
	display:none;
	box-shadow: 0px 0px 15px rgba(150, 150, 150, .5);
}	
.site-mian a{ color:#333}	
.site-m-c{
	width:980px;
	margin:0 auto;
	padding:15px 0px;
	}
.site-info{
	padding:15px 0px;
	line-height:28px;
	border-bottom:1px dashed #707070;
	display:flex;
	}
.site-info-b{
	font-size:16px;
	color:#3c82e6;
	width:120px;
	text-align:right;
	/*font-weight:bolder;*/
	}
.site-info-n{
	margin-left:20px;
	display:flex;
	}
.site-a{
	padding:0px 8px;
	margin:0px 10px;
	}
.site-info-n a:hover{
	background:#f6f6f6;
	}								
/*nav*/
.nav{
	width:1100px;
	margin-top: 8px;
	}
.nav ul{
	padding:0;
	margin:0;
	list-style:none;
	}		
.nav ul li{
	font-size:16px;
	height: 40px;
	line-height:40px;
	padding:0 10px;
	display: inline-block;
	cursor:pointer;
	margin: 0px 10px;
	}
.nav ul li a{color:#fff;}	
.nav ul li:hover {
	color:#fff;
	border-bottom: 3px solid #fff;
	}
.nav ul li:hover a {
	color:#fff;
	}	
.nav .checked{
	color:#fff;
	border-bottom: 3px solid #fff;}		
	.nav .checked a {color:#fff;}	
.nav1{
	height:48px;
	width:100%;
	background-color: rgba(0,0,0,0.6);
	}

/*banner*/	
.banner{
	width: 1100px;
	margin: 0 auto;
	height:450px;
	}
	.search-con{
		width: 600px;
		height: 150px;
		float: left;
		position:relative;
		top:80px;
	}
	.sear-top{
		font-size: 46px;
		font-weight: bolder;
		color: #fff;
	}
	.search1{
		margin-top: 10px;
	}

.search1 input{
	width:480px;
	height:54px;
	background:#fff;
	margin-top:13px;
	font-size:16px;
	color:#999;
	line-height:44px;
	padding-left:20px;
	border:0;
	}
.search-button{
	width:80px;
	height:56px;
	background:#f34141;
	margin-top:13px;
	text-align:center;
	cursor: pointer;
	line-height: 58px;
	color: #fff;
	font-size: 18px;
	}
	
/*常用服务*/
.common{
	width: 360px;
	height:160px;
	background: #fff;
	padding: 20px 25px;
	float: right;
	position:relative;
	top:60px;
	overflow: hidden;
}
.common-title{
	font-weight: 700;
    font-size: 16px;
    color: #818a9f;
}
.common-title-more{
	font-size: 12px;
	float:right;
	color: #818a9f;
	background: #e8ecf5;
	padding: 3px 8px;
	font-weight: normal;
}
.common-ul{
	margin-top: 10px;
}
.common-ul li{
	font-size: 16px;
	width: 45%;
	height: 35px;
	line-height: 35px;
	float: left;
	cursor: pointer;
	padding-left: 10px;	
	margin-right: 8px;
	margin-bottom: 10px;
}
.common-ul li:hover{background: #f6f6f6;}


.title-tab{
	width: 1100px;
	margin: 15px auto;
	font-size: 20px;
	height: 46px;
	line-height: 44px;
	cursor: pointer;
	border-bottom: 3px solid #333;
}
.title-tab ul li{
	display: inline-block;
	width: 100px;
	text-align: center;
	margin-right: 10px;
}
.tab-check{ 
	color: #4196fa;
	font-weight: bolder;
	border-bottom: 5px solid #4196fa;
}


/*个人*/

.gr,.fr{
	width:1100px;
	margin:20px auto;
	min-height: 300px;
	height: 340px;
overflow: hidden;
	}	
.gr ul li,.fr ul li{
	float:left;
	width:170px;
	height:130px;
	text-align:center;
	cursor: pointer;
	margin:18px 22px;
	background-color: #f6f6f6;
	transition: all .3s ease;
/*	box-shadow: 0 0 1.5rem rgba(9,41,77,.12);*/
	}
.gr ul li:hover,.fr ul li:hover{
	color: #fff;
	background: #fff;
    transition: all .3s ease;
	box-shadow: 0 0 1.5rem rgba(9,41,77,.4);
	}
.gr ul li:hover span,.fr ul li:hover span{}			
.gr-li-icon{
	width:60px;
	height:60px;
	margin:10px auto;
	overflow: hidden;
	}	
.fr ul li{
	background-color: #f6f6f6;
	transition: all .3s ease;
	box-shadow: 0 0 1.5rem rgba(255,255,255,.12);
}

/*便民利企*/
.popular{
	width:100%;
	/*background:#f6f6f6;
	margin-top:10px;*/
	padding:20px 0px;
	}
	
.pop-title,.pol-title{
	height:56px;
	line-height:56px;
	text-align:center;
	font-size:18px;
	font-weight:bolder;
	border-bottom:2px solid #e6e6e6;
	}
.pop-title{
	width:1100px;
	margin:0 auto;
	}
.pop-con{
width: 1200px;
margin: 0 auto;
position: relative;
	}		
.pop-main{
	width:1100px;
	margin:0 auto;
    position: relative;
	overflow: hidden;

	}
.pop-m{
	width:2160px;
	overflow:hidden;
	display:flex;
	position: relative;
	height:260px;
	}

.pop-con a.f-left,
.pop-con a.f-right {
  display: block;
  position: absolute;
  top: 40%;
  width: 32px;
  height: 55px;
  background: url(../image/arrows1.png);
	background-repeat: no-repeat;
	box-shadow: 0px 0px 15px rgba(150, 150, 150, .32);
}

.pop-con a.f-left.disabled,
.pop-con a.f-right.disabled {
  display: none;
}

.pop-con a.f-left {
  left: 0;
  background-position: 0 0;
}

.pop-con a.f-right {
  right: 0;
  background-position: -32px 0;
}

	
	
.pop-info{
	width:250px;
	height:250px;
	background:#fff;
	margin-right:20px;
	cursor: pointer;
	position: absolute;
	box-shadow: 0px 0px 15px rgba(150, 150, 150, .5);
	}
.pop-info:hover{
	color:#fff;
	background:#4293f4;
	box-shadow: 0px 0px 15px rgba(37, 125, 242, .6);
	}	
.pop-info:hover .pop-info-b a{color:#fff;}	
.pop-info-img{
	height:125px;
	}
.pop-info-b{
	font-size:20px;
	text-align:center;
	line-height:28px;
	margin:15px 0px;
	font-weight:bolder;
	}
.pop-info-n {
	width:200px;
	margin:0 auto;
	font-size:14px;
	}
/**/
.policy{
	width:1100px;
	margin:0 auto;
	margin-top:25px;
	height:320px;
	}											
.pol-main{
	margin-top:30px;
	}	
.pol-main ul li{
	float:left;
	width:496px;
	height:70px;
	padding:10px;
	border:1px solid #e6e6e6;
	margin:0px 15px;
	margin-bottom:15px;
	
	cursor: pointer;
	}
.pol-li{display:flex;}	
.pol-li:hover{
	border: 1px solid #217af0;
	box-shadow: 0px 0px 15px rgba(37, 125, 242, .27);
	}	
.pol-time{
	width:90px;
	height:70px;
	font-size:16px;
	text-align:center;
	color:#fff;
	background:#d9d9d9;
	}
.pol-time span{ font-size:36px;}
.pol-info{
	margin-left:20px;
	width:400px;
	}
.pol-b{
	width:400px;
	font-size:18px;
	height:46px;
	line-height: 46px;
	overflow:hidden; 
	text-overflow:ellipsis;
	white-space: nowrap;
	}
.pol-n{
	color:#666;
	font-size: 14px;
	}
.pol-li:hover .pol-time{ background:#4182eb;}					
.pol-li:hover .pol-b a{color:#4182eb;}

/*便民*/
.bm{
	width:1100px;
	margin:20px auto;
overflow: hidden;
	}	
.inqu-ul ul li{
	width:250px;
	height:58px;
	line-height:58px;
	background:#f3f4f5;
	margin: 10px 10px 15px 10px;
	display: inline-block;
	cursor:pointer;
	}
.inqu-ul ul li:hover{background:#fff;box-shadow: 0 0 1.5rem rgba(9,41,77,.12);}	
.inqu-ul ul li a{ display: flex;}						
.in-li{
	width:50px;
	height:58px;
	margin: 0px 8px 0px 40px;
    }
.in-li1{ background: url(../image/index-img001.png) 0px 0px no-repeat;}
.in-li2{ background:url(../image/index-img001.png) -65px 0px no-repeat;}
.in-li3{ background:url(../image/index-img001.png) -125px 0px no-repeat;}
.in-li4{ background:url(../image/index-img001.png) -190px 0px no-repeat;}
.in-li5{ background:url(../image/index-img001.png) -245px 0px no-repeat;}
.in-li6{ background:url(../image/index-img001.png) -310px 0px no-repeat;}
.in-li7{ background:url(../image/index-img001.png) -370px 0px no-repeat;}
.in-li8{ background:url(../image/index-img001.png) -430px 0px no-repeat;}
.in-li9{ background:url(../image/index-img001.png) -490px 0px no-repeat;}
.in-li10{ background:url(../image/index-img001.png) -555px 0px no-repeat;}
.in-li11{ background:url(../image/index-img001.png) -610px 0px no-repeat;}	

/*漂浮导航*/	
.floatnav{
	width: 70px;
	position: fixed;
		bottom: 50px;
		right: 0;
	top: 100px;
		z-index: 1000;
	text-align:center;
 }
.floatnav ul li a{
 display: block;
 font-size:14px;
	 width: 70px;
	 height: 70px;
	 margin-bottom: 1px;
	 color: #333;
 background: rgba(246,246,246,0.9);
	 text-align: center;
 }	
.floatnav ul li a span{
 display: block;
	 padding-top: 40px;
	 line-height: 20px;
 }
 .f-zzdb span{background: url(../image/pf-1.png) 0 -210px no-repeat;}
.f-bj span{background: url(../image/pf-1.png) no-repeat;}
.f-ask span{background: url(../image/pf-1.png) 0px -72px no-repeat;}
.f-tsjy span{background: url(../image/pf-1.png) 0px -210px no-repeat;}
.f-phone span{background: url(../image/pf-1.png) 0px -210px no-repeat;}
.f-cjwt span{background:  url(../image/pf-1.png) 0px -288px no-repeat;}
.f-wyjc span{background:  url(../image/pf-1.png) 0px -352px no-repeat;}
.f-top span{background: url(../image/pf-1.png) 0px -425px no-repeat;}

.floatnav ul li a:hover{ background:#4293f4; color:#fff;}
.f-zzdb:hover span{background: url(../image/pf-1.png) -70px -210px no-repeat;}
.f-bj:hover span{background: url(../image/pf-1.png) -70px 0px no-repeat;}
.f-ask:hover span{background: url(../image/pf-1.png) -70px -72px no-repeat;}
.f-tsjy:hover span{background: url(../image/pf-1.png) -70px -210px no-repeat;}
.f-phone:hover span{background: url(../image/pf-1.png) -70px -210px no-repeat;}
.f-cjwt:hover span{background:  url(../image/pf-1.png) -70px -288px no-repeat;}
.f-wyjc:hover span{background:  url(../image/pf-1.png) -70px -352px no-repeat;}
.f-top:hover span{background: url(../image/pf-1.png) -70px -425px no-repeat;}
.nav-sq{
 background:#4293f4; 
 color:#fff; 
 cursor:pointer; 
 font-size:14px; 
 padding:5px 0px;}	
.f-ydd{
 display:none;
 width:200px;
 height:195px;
 background:rgba(0,0,0,0.5);
 position: absolute;
	 right:80px;
 top:190px;
 }
 .f-yzx{
 display:none;
 width:160px;
 height:80px;
 background:rgba(0,0,0,0.5);
 position: absolute;
	 right:80px;
 top:80px;
 }
 .f-ytc{
 display:none;
 width:200px;
 height:195px;
 background:rgba(0,0,0,0.5);
 position: absolute;
	 right:80px;
 top:130px;
 }
.arrow{
 width:10px;
 height:21px;
 position:absolute;
 right:-10px;
 top:50px;
 }
.f-ewm{
 padding-top:15px;
 position:absolute;
 left:20px;
 display:flex;
 }
.ios,.android{
 width:100px;
 color:#fff;
 text-align:center;
 margin-right:15px;
 font-size:14px;
 }		
.f-phone:hover .f-ydd{ display:block;}		
.f-tsjy:hover .f-ytc{ display:block;}						 
.f-ask:hover .f-yzx{ display:block;}	

/*footer*/
.footer{
	height:120px;
	background:#e6e6e6;
	margin-top:20px;
	border-top:2px solid #c8c8c8;
	}
.footer-con{
	width:1100px;
	margin:0 auto;
	padding-top:20px;
	display:flex;
	}
.footer-left{ float:left}		
.footer-midle{
	width:850px;
	font-size:14px;
	color:#333;
	margin-left:30px;
	}
.footer-l-list{
	display:flex;
	}	
.footer-l-list a{ color:#333;}	
.f-list-n{
	padding:0px 5px;
	}
.f-split1{
	display: inline-block;
    width: 1px;
	height: 0.9rem;
	vertical-align: middle;
    margin: 5px 10px;
    background-color: #333;
	}
.footer-l-text{
	color:#333;
	margin-top:10px;
	}
.footer-l-text span{
	padding: 0px 8px;
	/*margin: 0px 10px;*/
	}					
.footer-fwrx{
	width:260px;
	height:36px;
	text-align:center;
	line-height:36px;
	font-size:16px;
	font-weight:bold;
	color:#333;
	background:#d2d2d2;
	margin-left:20px;
	margin-top:10px;
	}	
.footer-right{
	}	
	
						
	
	
					