.lucidity-ui-paging-container {
	color: #666;
	font-size: 14px
}

.lucidity-ui-paging-container ul {
	overflow: hidden;
	text-align: center;
	padding: 0px 6px 0px 0px;
	margin: 1px
}

.lucidity-ui-paging-container li,.lucidity-ui-paging-container ul {
	list-style: none
}

.lucidity-ui-paging-container li {
	display: inline-block;
	padding: 3px 10px;
	margin-left: 5px;
	color: #444
}

.lucidity-ui-paging-container li.ui-pager {
	cursor: pointer;
	border: 1px solid #272525;
	border-radius: 2px
}

.lucidity-ui-paging-container li.focus {
	background-color: #288df0;
	color: #FFF;
	cursor: default
}

.lucidity-ui-paging-container li.ui-pager:hover {
	background-color: #288df0;
	color: #FFF;
}

.lucidity-ui-paging-container li.ui-paging-ellipse {
	border: 1px solid #272525;
	cursor: default
}

.lucidity-ui-paging-container li.lucidity-ui-pager-disabled,.lucidity-ui-paging-container li.ui-pager-disabled:hover
	{
	background-color: #f6f6f6;
	cursor: default;
	border: none;
	color: #ddd
}

.lucidity_container {
	position: relative;
}

.lucidity_pgContainer {
	min-height:100px;
}

.lucidity_pgToolbar {
	height:30px;
	border:1px solid #DADADA;
	background: #fff;
	margin:10px 0 -1px 0;
}

.lucidity_pgToolbar td {
	height:32px;
	font-size:14px;
	padding:0 1px 0 1px;
	color: #444
}

.lucidity_pgPanel {
	float:left;
	padding:0 10px 0 10px;
}

.lucidity_pgBtn {
	width: 50px;
	height: 28px;
	display: inline-block;
	cursor: pointer;
	margin: 1px;
	border: 1px solid #9b9595;
	border-radius: 2px;
	text-align: center;
	line-height: 190%;
	color: #444
}

.lucidity_pgPress {
	margin:2px 0 0 2px;
}

a.lucidity_pgPrev:hover {
	background-color: #288df0;
	color: #FFF;
}

a.lucidity_pgPrevDisabled,a.lucidity_pgPrevDisabled:hover {
	cursor: default;
	background: none;
	color: #c0b8b8;
	outline:none;
}

a.lucidity_pgNext:hover {
	background-color: #288df0;
	color: #FFF;
}

a.lucidity_pgNextDisabled,a.lucidity_pgNextDisabled:hover {
	cursor:default;
	background: none;
	color: #c0b8b8;
	outline:none;
}

a.lucidity_pgFirst:hover {
	background-color: #288df0;
	color: #FFF;
}

a.lucidity_pgFirstDisabled,a.lucidity_pgFirstDisabled:hover {
	cursor:default;
	background: none;
	color: #c0b8b8;
	outline:none;
}

a.lucidity_pgLast:hover {
	background-color: #288df0;
	color: #FFF;
}

a.lucidity_pgLastDisabled,a.lucidity_pgLastDisabled:hover {
	cursor:default;
	background: none;
	color: #c0b8b8;
	outline:none;
}

.lucidity_pgRefresh:hover {
	background-color: #288df0;
	color: #FFF;
}

.lucidity_pgLoad {
}

.lucidity_pgCurrentPage {
	width:30px;
	height:23px;
	line-height:23px;
	text-align:center;
	border:1px solid #CCCCCC;
	font-size:13px;
}

.lucidity_mask {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	position: absolute;
	z-ndex: 999;
	top:0;
	left:0;
	filter:alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:.70;
}

.lucidity_separator {
	width:2px;
	height:14px;
}