.jqpagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 0;  
 }
.jqpagination a {
  display: block;
  float: left;
  width: 40px;
  height: 35px;
  outline: none;
  border-right: 1px solid #CDCDCD;
  border-left: 1px solid #CDCDCD;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  line-height: 24px;
  font-weight: bold;
  font-family: Times, 'Times New Roman', Georgia, Palatino;
  /* ATTN: need a better font stack */
  background-color: #eeeeee;
  }
  .jqpagination a:hover, .jqpagination a:focus, .jqpagination a:active {
    background-color: #cecece;
    }
  .jqpagination a.disabled, .jqpagination a.disabled:hover, .jqpagination a.disabled:focus, .jqpagination a.disabled:active {
    background-color: #f3f3f3;
    color: #A8A8A8;
    cursor: default; }

.jqpagination a:first-child {
  border: none;
  border-radius: 2px 0 0 2px; }

.jqpagination a:last-child {
  border: none;
  border-radius: 0 2px 2px 0; }

.jqpagination input {
  float: left;
  margin: 0;
  padding: 0;
  width: 180px;
  height: 35px;
  font-size: 20px;
  outline: none;
  border: none;
  vertical-align: middle;
  text-align: center; }

/* lg class */
.lg.jqpagination {
  margin: 30px 0; }

.lg.jqpagination a {
  height: 60px;
  width: 60px;
  font-size: 50px;
  line-height: 50px; }

.lg.jqpagination input {
  width: 300px;
  height: 60px;
  font-size: 30px; }
