
body{
	margin:0;
	padding:0;
	vertical-align: baseline;
	color:#333;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	}
ul,li,img {list-style:none;border:none; padding:0; margin:0;}
a {text-decoration:none;cursor:pointer;outline:none; color:#333}	
table {
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle;
}
.logo{
	margin-top:10px;
	}	
	.site{
		margin-left:15px;
		font-size:13px;
		padding: 5px 15px;
		height: 20px;
		line-height: 20px;
		color: #666;
		background:#f0f0f0;
		cursor:pointer;
		margin-top: 40px;
		}
	
.site-mian a{ color:#333}	
							
/*nav*/
.nav{
	width:1100px;
	margin-top: 8px;
	position: absolute;
	}
.nav ul{
	padding:0;
	margin:0;
	list-style:none;
	}		
.nav ul li{
	font-size:16px;
	height: 40px;
	line-height:40px;
	padding:0 10px;
	display: inline-block;
	cursor:pointer;
	margin: 0px 10px;
	}
.nav ul li a{}	
.nav ul li:hover {
	color:#3e97df;
	border-bottom: 3px solid #3e97df;
	}
.nav ul li:hover a {
	color:#3e97df;
	}	
.nav .checked{
	color:#3e97df;
	border-bottom: 3px solid #3e97df;}		
	.nav .checked a {color:#3e97df;}	
.nav1{
	height:48px;
	width:100%;
	background-color: rgba(0,0,0,0.6);
	}

/*正文*/
.container-qlqd{
	width: 1100px;
	margin: 0 auto;
	padding: 0; 
	margin-top: 25px;
}
.container-qlqd .position{
	font-size: 13px;
	line-height: 28px;
	color: #444;
	border-bottom: 1px dashed #e5e5e5;
}
.container-qlqd .position a{ padding: 0px 8px;}
.container-qlqd .matter-title{
	font-size: 24px;
	font-weight: bolder;
	line-height: 50px;
	border-bottom: 3px solid #333;
	margin-top: 20px;
}
.container-qlqd .depart{ margin:10px 0px;}	
.container-qlqd .depart ul li{
	float:left;
	width:120px;
	height:38px;
	text-align:center;
	line-height:38px;
	background:#F1F2F3;
	margin:8px;
	cursor:pointer;
	overflow:hidden;	
  text-overflow:ellipsis;
  white-space: nowrap;
	}
	.container-qlqd .depart ul li:hover{
	background:#4293f4;
	color:#fff;
	}	
	.container-qlqd .depart ul li:hover a{ color:#fff;}
	.container-qlqd .depart-ul{
	font-size:14px;
	position: relative;
	overflow:hidden;
	}
	.container-qlqd .depart-shrink{
	height:50px;	
	}
	.container-qlqd .depart-more{
		color:#4293f4;
		width:100px;
		height:34px;
		margin:0 auto;
		background:#F1F2F3;
		text-align:center;
		line-height:34px;
		cursor:pointer;
		font-weight:bolder;
		margin-top: 10px;
		}	
	.container-qlqd .filter{
			width:100%;
			height:60px;
			line-height:60px;
			background:#f1f2f3;
			margin-top:20px;
			}
	.container-qlqd	.filter .filter-con{
			width:1060px;
			margin:0 auto;
			display:flex;
			}	
	.container-qlqd	.filter .filter-con		.filter-left{
		width: 75%;
		display: flex;
		float: left;
	}
	.container-qlqd	.filter .filter-con .f-b{
			font-size:20px;
			font-weight:bolder;
			padding-right: 15px;
			}
	.container-qlqd .filter .filter-con	.f-quantity{
			width:120px;
			font-size:14px;
			color:#999;
			}
	.container-qlqd .filter .filter-con	.f-sort{
			width:96px;
			margin-left:50px;
			margin-top:16px;
			height: 28px;
		background: #e6e8ea;
		line-height: 28px;
			}
	.container-qlqd	.f-sort select{
			width:84px;
			border:0;
			background:#f6f6f6;
			appearance:none;
			-moz-appearance:none;
			-webkit-appearance:none;
			background: url(../image/head-sit.png) no-repeat scroll right center transparent;
			padding:0px 14px;
			font-size: 13px;
		line-height: 28px;
			}
		select::-ms-expand { display: none; }	
		
			.container-qlqd	.f-search{
			width:25%;
			height:34px;
			float:right;
			position: relative;
			 top: 14px;
			 display: flex;
			 background:#fff;
			 }
		 .container-qlqd	.f-search input{
			width:220px;
			height:32px;
			line-height:32px;
			padding-left:10px;
			border:0;
			font-size: 13px;
			}		
			.container-qlqd	.f-s-button{
			width:20px;
			height:20px;
			margin-top:9px;
			text-align:center;
			cursor: pointer;
			vertical-align: middle;
			}
		.container-qlqd		.qlqd-list{
			margin-top: 20px;
		}
		.container-qlqd		.qlqd-list .list-top{
			color: #666;
			padding: 0px 10px;
			font-size: 14px;
			line-height: 30px;
			border-bottom: 1px solid #d2d2d2;
			display: flex;
		}
		.container-qlqd		.qlqd-list .qlqd-list-ul  li{
			height: 66px;
			line-height: 66px;
		 border-bottom: 1px solid #e6e6e6;
		 display: flex;
		 padding: 0px 10px;
		 cursor: pointer;
		}
	
		.container-qlqd	.qlqd-list  .list-name{
			width: 830px;
			font-size: 16px;
			font-weight: bolder;
			overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
		}
		.container-qlqd .qlqd-list 	.list-name a{color: #4196fa;}
		.container-qlqd .qlqd-list 	.list-name a:hover{color: #328cf0;}
		.container-qlqd	.qlqd-list  .list-bm{
			margin-left: 20px;
			width: 120px;
		}
		.container-qlqd	.qlqd-list  .list-lb{
			width: 100px;
			margin-left: 10px;
			text-align: center;
		}
		.container-qlqd .qlqd-list .list-top .list-name{ font-size: 14px; font-weight: normal;}

		/*页码*/	
.page-number{
	margin-top:40px;
	text-align: center;
	}
.page-number .page-ul{
	display: inline-block;
	}
.page-number .page-ul li{
	display: inline;
	position: relative;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    border: 1px solid #dddddd;
    margin-left: 8px;	
	cursor:pointer;
	}
.page-number .page-ul li:hover a{  color:#4293f4;}	
.page-number .p-active{
	color: #ffffff;
    background-color: #4293f4;
	}
.page-number .p-active a{color: #ffffff;}	