* { padding: 0; margin: 0; box-sizing: border-box; }
body, a, div, p, ul, li, img, h3 { margin: 0; padding: 0; }
body { font-family: "微软雅黑" !important; }
a { text-decoration: none; font-family: "微软雅黑"; color: #000; }
ul li { list-style: none; }
ul:before, ul:after { content: ""; display: table; clear: both; }
.clearfix { clear: both; }
.container{ width: 1200px; margin: 0 auto;}
.fix_bg{ position: fixed; top: 0; left: 0; width: 100%; height: 911px; z-index: -1;}
/*main*/
.main{ background-color: #FFFFFF; padding: 20px;}
.main_banner{ width: 100%; height: 200px; margin-bottom: 40px;}
.main_banner img{ width: 100%; height: 100%;}
.main_content{ }
.con_box{ width: 100%; height: 340px; float: left; margin-bottom: 40px;}
.box_title{ height: 50px; border-bottom: 2px #5fbdd9 solid;}
.box_title ul{ width: 900px; float: left;}
.box_title ul li{  display: block; float: left; line-height: 46px; padding: 0 20px;
font-size: 24px; background-color: #f2f2f2; color: #444; cursor: pointer; margin-right: 1px;}
.box_title ul li.on{background-color: #5fbdd9; color: #FFFFFF;}
.box_title a{ display: block; float: right; line-height: 46px; color: #999;}
.box_list{ margin-top: 20px;}
.box_list ul li{background: url(../image/icon7.png) no-repeat left 17px;height: 45px;}
.box_list ul li a{ display: block; float: left; line-height: 45px; margin-left: 23px; font-size: 18px;}
.box_list ul li span{ display: block; float: right; line-height: 45px; color: #999999;}