
/* CSS Document */
* { padding: 0; margin: 0; box-sizing: border-box; }
body, a, div, p, ul, li, img, h3 { margin: 0; padding: 0; }
body { font-family: "微软雅黑" !important;}
a { text-decoration: none; font-family: "微软雅黑"; color: #000; }
ul li { list-style: none; }
.clearfix { clear: both; }
ul:before, ul:after { content: ""; display: table; clear: both; }
.top_header { background: url(../image/banner.jpg) top center; height: 440px; }
.top_side { width: 1200px; margin: 0 auto; }
.top_side a { display: block; float: right; background-color: #3c7ec3; color: #fff; padding: 2px 10px; margin-top: 10px; font-size: 14px; margin-left: 10px; }
/*container*/
.container{width: 1200px; margin: 0 auto; }
.col{ width: 48%; float: left; margin-top: 50px;}
.col:nth-child(2){ float: right;}
.tit{ line-height: 24px; }
.tit h3{ color: #3c7ec3; font-weight: bold; display: block; float: left;font-size: 24px; border-left: 5px #3c7ec3 solid; padding-left: 15px; height: 24px;}
.tit a{ float: right; display: block; font-size: 15px; color: #999; line-height: 24px;}
.con ul{ padding-top: 15px;}
.con ul li{ height: 45px; position: relative; }
.con ul li:before {content: '';display: inline-block;width: 5px;height: 5px;border-radius: 50%;background: #3c7ec3;position: absolute;left: 0;top: 50%;margin-top: -2px;}
.con ul li a{ float: left;line-height: 45px; font-size: 17px; color: #444; padding-left: 15px;}
.con ul li span{ float: right; color: #999; line-height: 45px;  font-size: 17px;}
.pic-link{height: 120px; background: url(../image/fgfc.jpg) no-repeat top center; margin-top: 40px; }
.pic-link a{ display: block; width: 100%; height: 100%;}
.pic-link p {color: #fff;font-size:32px;font-weight: bold;text-shadow: 1.59px 2.544px 5px rgba(30, 88, 200, 1);}
.pic-link p+p {padding-left: 187px;margin-top: 10px;}
.tit2{ font-size: 30px; text-align: center; font-weight: bold; color: #129e9f; margin-bottom: 50px;}
.lists{ background-color: #F2F7FE; margin-top: 50px; padding: 50px 0;}
.lists ul{ margin-left: -12px; margin-right: -12px;}
.lists ul li{ width: 18%; height: 226px; float: left; margin: 0 12px; background-color: #FFFFFF; border-radius: 10px;box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);}
.lists ul li a{ display: block; padding: 20px; }
.lists ul li a img{ display: block; margin: 0 auto;}
.lists ul li a span{ display: block; text-align: center; margin-top: 10px; font-size: 18px;}