* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	box-sizing: border-box;
	color: #444;
}
a {
	color: #444;
	transition: all 0.2s ease-out 0s;
}
body, a, div, p, ul, li, img, h3 {
	margin: 0;
	padding: 0;
}
body {
	background-color: #f6f6f6;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
/*主体部分*/
.main {
	background-color: #fff;
	padding: 20px;
}
.main_1 {
	height:350px;
	margin-bottom: 30px;
}
.main_1_left {
	width: 560px;
	height: 350px;
	position: relative;
}
.main_1_left .bd {
	height: 350px;
	overflow: hidden;
}
.main_1_left .bd ul li {
	float: left;
}
.main_1_left .bd ul li a {
	width: 560px;
	height: 350px;
	display: block;
	position: relative;
	z-index: 1;
}
.main_1_left .bd ul li a img {
	width: 560px;
	height: auto;
}
.txt_box {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 45px;
	width: 100%;
	padding: 0 20px;
	background: url(../image/pic_bg.png) no-repeat;
	line-height: 45px;
	color: #fff;
	font-size: 15px;
	overflow: hidden;
}
.main_1_left .hd {
	position: absolute;
	z-index: 5;
	right: 16px;
	height: 5px;
	width: 113px;
	bottom: 19px;
	overflow: hidden;
}
.main_1_left .hd li {
	float: left;
	width: 26px;
	height: 5px;
	background: #FFFFFF;
}
.main_1_left .hd li.on {
	background: #fa8d00;
}
.main_1_left .hd li+li {
	margin-left: 3px;
}
.main_1_right {
	width: 560px;
}
.main_1_right .hd {
	width: 560px;
	height: 40px;
}
.main1_tabs {
	height: 34px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 8px;
}
.main1_tabs ul {
	float: left;
}
.main1_tabs ul li {
	float: left;
	height: 34px;
}
.main1_tabs ul li a {
	display: inline-block;
	height: 34px;
	line-height: 34px;
	font-size: 19px;
	font-weight: bold;
	padding: 0 15px;
	overflow: hidden;
}
.main1_tabs ul li.active {
	border-bottom: 1px #184a96 solid;
}
.main1_tabs ul li.active a {
	color: #184a96;
}
.main1_tabs span a {
	display: block;
	float: right;
	width: 15px;
	height: 42px;
	background: url(../image/more.png) no-repeat center;
}
.main1_list li {
	width: 100%;
	height: 42px;
	padding-left: 22px;
	background: url(../image/dian.jpg) no-repeat left;
	background-size: 3px 3px;
	line-height: 42px;
	border-bottom: 1px #bfbfbf dashed;
	overflow: hidden;
}
.main1_list li a {
	display: block;
	float: left;
	color: #333333;
	font-size: 15px;
}
.main1_list li span {
	display: block;
	float: right;
	line-height: 42px;
	color: #999;
	font-size: 13px;
}
/*第二版块*/
.main_2 {
	height: 240px;
	margin-bottom: 30px;
}
.main_2_left, .main_2_right {
	width: 560px;
}
.main2_tabs, .main22_tabs {
	height: 40px;
	border-bottom: 1px solid #ccc;
	
}
.main2_tabs{margin-bottom: 5px;}
.main22_tabs{margin-bottom: 2px;}
.main2_tabs ul, .main22_tabs ul {
	float: left;
}
.main2_tabs ul li, .main22_tabs ul li {
	float: left;
	height: 40px;
}
.main2_tabs ul li a, .main22_tabs ul li a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 19px;
	font-weight: bold;
	padding: 0 15px;
	overflow: hidden;
}
.main2_tabs ul li.active, .main22_tabs ul li.active {
	border-bottom: 1px #184a96 solid;
}
.main2_tabs ul li.active a, .main22_tabs ul li.active a {
	color: #184a96;
}
.main2_tabs span a, .main22_tabs span a {
	display: block;
	float: right;
	width: 15px;
	height: 42px;
	background: url(../image/more.png) no-repeat center;
}
.main2_list li, .main22_list li {
	width: 100%;
	height: 40px;
	padding-left: 22px;
	background: url(../image/dian.jpg) no-repeat left;
	background-size: 3px 3px;
	line-height: 40px;
	border-bottom: 1px #bfbfbf dashed;
	overflow: hidden;
}
.main2_list li a, .main22_list li a {
	display: block;
	float: left;
	color: #333333;
	font-size: 15px;
}
.main2_list li span, .main22_list li span {
	display: block;
	float: right;
	line-height: 40px;
	color: #999;
	font-size: 13px;
}
/*第四版块*/
.main_4{ margin-bottom: 30px;}
.main_4_left, .main_4_right{ width: 560px;}
.main4_tabs, .main44_tabs {
	height: 40px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}
.main4_tabs ul, .main44_tabs ul{ float: left;}
.main4_tabs ul li, .main44_tabs ul li {
	float: left;
	height: 40px;
}

.main4_tabs ul li a, .main44_tabs ul li a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 19px;
	font-weight: bold;
	padding: 0 15px;
	overflow: hidden;
}

.main4_tabs ul li.active, .main44_tabs ul li.active {
	
	border-bottom: 1px #184a96 solid;
}
.main4_tabs ul li.active a, .main44_tabs ul li.active a{color: #184a96;}
.main4_tabs span a, .main44_tabs span a{ display: block; float: right; width: 15px; height: 42px; background: url(../image/more.png) no-repeat center;}
.main4_lists ul li, .main44_lists ul li {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 22px;
	background: url(../image/dian.jpg) no-repeat left;
	background-size: 3px 3px;
	border-bottom: 1px #bfbfbf dashed;
	overflow: hidden;
}

.main4_list ul li a, .main44_list ul li a {
	display: block;
	float: left;
	color: #333333;
	font-size: 15px;
}

.main4_list li span, .main44_list li span {
	display: block;
	float: right;
	line-height: 40px;
	color: #999;
	font-size: 13px;
}
/*第五版块*/
.main_5{ margin-bottom: 30px;}
.main_5_left, .main_5_right{ width: 560px;}
.main5_tabs, .main55_tabs {
	height: 40px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}
.main5_tabs ul, .main55_tabs ul{ float: left;}
.main5_tabs ul li, .main55_tabs ul li {
	float: left;
	height: 40px;
}

.main5_tabs ul li a, .main55_tabs ul li a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 19px;
	font-weight: bold;
	padding: 0 15px;
	overflow: hidden;
}

.main5_tabs ul li.active, .main55_tabs ul li.active {
	
	border-bottom: 1px #184a96 solid;
}
.main5_tabs ul li.active a, .main55_tabs ul li.active a{color: #184a96;}
.main5_tabs span a, .main55_tabs span a{ display: block; float: right; width: 15px; height: 42px; background: url(../image/more.png) no-repeat center;}
.main5_lists ul li, .main55_lists ul li {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 22px;
	background: url(../image/dian.jpg) no-repeat left;
	background-size: 3px 3px;
	border-bottom: 1px #bfbfbf dashed;
	overflow: hidden;
}

.main5_list ul li a, .main55_list ul li a {
	display: block;
	float: left;
	color: #333333;
	font-size: 15px;
}

.main5_list li span, .main55_list li span {
	display: block;
	float: right;
	line-height: 40px;
	color: #999;
	font-size: 13px;
}
/*网上祭英烈*/
.main23{ margin-bottom: 30px;}
.main23_con{ margin-top: 15px;}
.main23_con ul li{ float: left; width: 560px; height: 103px;}
.main23_con ul li:nth-child(1) { margin-right: 40px;}
.main23_con ul li a{ display: block;}
.main23_con ul li a img{ display: block; width: 560px; height: 103px;}
/*第三版块*/
.main_3_left {
	width: 560px;
}
.main3_tit {
	height: 40px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.main3_tit span {
	display: block;
	float: left;
	padding: 0 15px;
	line-height: 40px;
	font-size: 19px;
	font-weight: bold;
	color: #355e92;
	border-bottom: 1px #355e92 solid;
}
.main3_tit a {
	display: block;
	float: right;
	width: 15px;
	height: 42px;
	background: url(../image/more.png) no-repeat center;
}
.main3_con {}
.main3_con ul li {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 22px;
	background: url(../image/dian.jpg) no-repeat left;
	background-size: 3px 3px;
	border-bottom: 1px #bfbfbf dashed;
	overflow: hidden;
}
.main3_con ul li a {
	display: block;
	float: left;
	color: #333333;
	font-size: 15px;
}
.main3_con li span {
	display: block;
	float: right;
	line-height: 40px;
	color: #999;
	font-size: 13px;
}
.main_3_right {
	width: 560px;
}
.main3_tabs {
	height: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
}
.main3_tabs ul li {
	float: left;
	padding: 0 15px;
	line-height: 40px;
	font-size: 19px;
	font-weight: bold;
	color: #355e92;
}
.main3_tabs ul li:nth-child(1) {
	border-bottom: 1px #355e92 solid;
}
.main3_tabs ul li a {
	display: block;
}
.main3_box {
	height: 140px;
	border: 1px #eee solid;
	padding: 15px;
}
.main3_box ul li {
	float: left;
	width: 255px;
	height: 45px;
	line-height: 45px;
	background-color: #eee;
}
.main3_box ul li.zn {
	margin-right: 18px;
	margin-bottom: 18px;
}
.main3_box ul li.nb {
	margin-bottom: 18px;
}
.main3_box ul li.ml {
	width: 528px;
}
.main3_box ul li.ml a {
	width: 466px;
}
.main3_box ul li a {
	display: block;
	width: 193px;
	float: right;
	text-align: center;
	border-left: 1px #ddd solid;
}
.main3_box ul li i {
	width: 60px;
	height: 45px;
	display: inline-block;
	float: left;
}
.main3_box ul li.zn i {
	background: url(../image/icon1.png) no-repeat center center;
}
.main3_box ul li.nb i {
	background: url(../image/icon2.png) no-repeat center center;
}
.main3_box ul li.ml i {
	background: url(../image/icon3.png) no-repeat center center;
}
/*专题*/
.main_zt {
	height: 72px;
	overflow: hidden;
	margin: 40px 0;
}
.main_zt img {
	width: 30px;
	height: 72px;
	display: block;
	float: left;
}
.main_zt .bd {
	width: 1130px;
	float: right;
}
.picList li {
	width: 250px;
	height: 72px;
	margin: 0 5px;
	float: left;
}
.picList li a {
	display: block;
	width: 250px;
	height: 72px;
}
.picList li a img {
	width: 100%;
	height: 100%;
	display: block;
}
/**/
.main_pt {
	margin-bottom: 40px;
}
.pt_tit {}
.pt_con {
	margin-top: 15px;
	position: relative;
}
.pt_con .hd .prev, .pt_con .hd .next {
	display: block;
	width: 27px;
	height: 46px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
	top: 22px;
}
.pt_con .hd {}
.pt_con .hd .prev {
	background: url(../image/prev1.png) no-repeat;
	left: 0px;
}
.pt_con .hd .next {
	background: url(../image/next1.png) no-repeat;
	right: 0px;
}
.pt_con .bd {
	margin-left: 46px;
}
.tempWrap {}
.ptList li {
	width: 257px;
	height: 90px;
	margin: 0 5px;
	float: left;
}
.ptList li a {
	display: block;
	width: 257px;
	height: 90px;
}
.ptList li a img {
	display: block;
	width: 257px;
	height: 90px;
}
/**/
.fc_tit, .pt_tit {
	height: 42px;
	background-color: #eee;
	padding-right: 15px;
}
.fc_tit span, .pt_tit span {
	display: block;
	float: left;
	padding: 0 15px;
	line-height: 42px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background-color: #355e92;
}
.fc_tit a, .pt_tit a {
	display: block;
	float: right;
	width: 15px;
	height: 42px;
	background: url(../image/more.png) no-repeat center;
}
.fc_con {
	height: 180px;
	overflow: hidden;
	margin: 15px 0;
}
.fcList li {
	width: 224px;
	height: 180px;
	margin: 0 5px;
	float: left;
}
.fcList li a {
	display: block;
	width: 224px;
	height: 180px;
}
.fcList li a img {
	display: block;
	width: 224px;
	height: 150px;
}
.fcList li a p {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	font-size: 14px;
	background-color: #eee;
}
.main_link {
	height: 35px;
	margin-top: 50px;
}
.link_tit {
	width: 90px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background-color: #999;
	color: #fff;
}
.link_con {
	width: 1050px;
}
.link_con a {
	display: block;
	font-size: 14px;
	float: left;
	margin-right: 15px;
	line-height: 35px;
}
.link_con a:hover {
	color: #355e92;
}
