.topmost{width:1200px;height: 30px;height: 30px;line-height: 30px;margin: auto;font-size: 15px;}  

table {
    max-width: 800px !important;
    border-spacing: 0;
    border-collapse: collapse;
  }
  .art_con img{margin: auto;display: block;}
  img {
    max-width: 800px !important;
    border: 0px !important;
    vertical-align: middle; 
    margin: 0 auto;    margin-bottom: 10px;
  }
.bdshare_dialog_bg {
    width: auto !important;
    height: auto !important;
  }
  
  .bd_weixin_popup {
    width: auto !important;
    height: auto !important;
  }
  
  .bd_weixin_popup .bd_weixin_popup_foot {
    width: 256px !important;
    height: auto !important;
  }
  
  .bdshare_dialog_bg {
    height: 329px !important;
    width: 300px !important;
  }
  
  .bd_weixin_popup {
    height: auto !important;
  }
  
  .bigwz {
    font-size: 16px !important;
  }
  
  .numwz {
    font-size: 14px !important;
  }
  
  .smallwz {
    font-size: 12px !important;
  }

  .wip_local {
    width: 1200px;
    margin: 0px auto 25px;
    background: #ededed url(../image/local_png.png) no-repeat 24px center;
    line-height: 40px;
    height: 40px;
    color: #454545;
    font-size: 13px;
    padding-left: 45px;
  }
  
  .wip_local td {
    line-height: 40px;
    color: #454545;
    font-size: 13px;
  }
  
  .wip_local a {
    color: #454545;
    line-height: 40px;
    color: #454545;
    font-size: 13px;
  }
  
  .wip_art_conbg {
    width: 1200px;
    margin: 0px auto 70px;
  }
  
  .wip_art {
    width: 900px;
    margin: 0px auto;
  }
  
  .wip_art .htitle {
    font-size: 25px;
    color: #000000;
    padding-bottom: 15px;
    border-bottom: #292929 2px solid;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .wip_art h2 a {
    color: #000000;
  }
  
  .share_bg {
    margin-left: 52px;
  }
  
  .sign {
    width: 275px;
    font-size: 15px;
    color: #333333;
    text-align: center;
  }
  
  .time {
    margin-top: -5px;
    width: 155px;
    float: right;
    display: block;
  }
  
  .art_con {
    margin-top: 30px;
    min-height: 220px;
  margin-top: 30px !important;

  }
  
  .art_con,
  .art_con p,
  .art_con p a {
    font-size: 16px;
    color: #333333;
    line-height: 30px;
  }
  
  .art_con,
  .art_con p,
  .art_con div {
    word-break: break-all;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;   
    margin-bottom: 10px !important; 
  }
  
  .last_next {
    width: 100%;
    border-top: 1px #c5c5c5 dotted;
    margin-top: 50px;
    font-size: 15px;
    color: #333333;
    line-height: 40px;
    padding-top: 10px;
  }
  
  .last_next a {
    color: #333333;
  }
  
  .top_small,
  .dibu_smalll {
    display: none;
  }
  
  .edit_bg {
    margin-top: 20px;
  }
  
  .edit {
    font-size: 15px;
    color: #333333;
    margin-top: 15px;
  }
  
  .edit a {
    color: #333333;
  }
  
  .append {
    width: 100%;
    height: auto;
    background: #f1f1f1;
    height: 40px;
    line-height: 40px;
    padding-left: 730px;
    margin-top: 40px;
  }
  
  .bug {
    font-size: 15px;
    color: #333333;
    margin-right: 22px;
  }
  
  .bug a {
    color: #333333;
  }
  
  .bug img {
    margin-right: 10px;
    margin-bottom: 7px;
    margin-top: 5px;
  }
  
  .fujian{
    background: url(http://www.rencheng.gov.cn/picture/0/1907251122498995407.png) no-repeat left center;
    line-height: 60px;    
    padding-left: 30px;
  }
  
  .fujian a {
    color: #333;
    font-size: 15px;
  }