body{
	margin: 0;
}
.cx_left{ width: 880px;}
.col_1{ height: 35px; margin-bottom: 30px;}
.col_1 ul li{ float: left; margin-right: 63px;}
.col_1 ul li span{ display: block; float: left; font-weight: bold; font-size: 20px; line-height: 35px;}
.col_1 ul li input{ width: 275px; border: none; height: 35px; outline: none; font-size: 16px; padding: 0 10px;}
.col_1 ul li input:-ms-input-placeholder{color: #CCCCCC;}
.col_1 ul li input:-moz-placeholder{color: #CCCCCC;}
.col_1 ul li input::-webkit-input-placeholder{color: #CCCCCC;}
.col_2{ height: 35px;}
.col_2 ul li{ float: left; line-height: 35px;}
.col_2 ul li span{ display: block; float: left; font-weight: bold; font-size: 20px; line-height: 35px;}
.col_2 ul li select{ border: none; height: 35px; padding: 0 20px; color: #ccc; font-size: 16px;outline: none;}
.col_2 ul li option{ color: #444444; background-color: #F4F4F4;}
.col_2 ul li input{ border: none; height: 35px; width: 112px; padding: 0 10px; font-size: 16px; outline: none; color: #CCCCCC;}
.col_2 ul li input:-ms-input-placeholder{color: #CCCCCC;}
.col_2 ul li input:-moz-placeholder{color: #CCCCCC;}
.col_2 ul li input::-webkit-input-placeholder{color: #CCCCCC;}
.cx_right{ width: 250px; border-left: 1px #fff dashed; padding-left: 70px; }
.cx_right button{ display: block; background-color: #367ed3; border: none; width: 130px; height: 36px; 
line-height: 36px; text-align: center; color: #FFFFFF; font-size: 16px; border-radius: 5px; margin: 10px 0;}