
/* CSS Document */
body { margin: 0; padding: 0; font-family: "微软雅黑"; }
/* 全局通用 */
ul { margin: 0; padding: 0; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
ul:after, ul:before { content: ""; display: table; clear: both; }
p, hr, ul, ol, dl, blockquote, pre, address, fieldset, figure { margin: 0; }
i { display: block; margin: auto; }
/*大背景图*/
.container { width: 1200px; margin-top: 13px; position: relative; margin: auto; height: 1214px; }
/*内容主体*/
#main { width: 1200px; margin: auto; position: relative; background-color: #fff; margin-top: 20px; }
#mdgov_enterpriseSearch.open { top: 89px; }
.mdgov_searchMic.listening { right: 12px; bottom: 0; top: 13px; }
#mdgov_enterpriseNavigationWrap { min-height: 215px; }
#mdgov_enterpriseNavigation { top: 25px; width: 100%; z-index: 99999; border: 0; margin-bottom: 0; }
#mdgov_enterpriseNavigation .navbar-collapse { color: #fff; }
#mdgov_enterpriseNavigation .nav .cl_base_vNav li { margin-bottom: 0; }
#mdgov_iconLinks { position: absolute; top: 6px; right: 15px; }
#mdgov_iconLinks a { margin-left: 10px; font-size: 25px !important; }
/*滑动头部*/
.header_box { margin: 0 auto; display: none; position: relative; }
.header_tit { background: #FFF; height: 112px; background: rgba(255, 255, 255, 0.9) !important; filter: Alpha(opacity=90); padding-top: 25px; }
.header_tit .logo { width: 120px; height: 83px; background: url(http://www.rencheng.gov.cn/images/1238/img/logo1.png) no-repeat center; float: left; margin-left: 50px; }
.header_tit h1 { float: left; margin-top: 21px; }
.header_tit .header_tit_links { width: 180px; float: right; margin-right: 68px; margin-top: 22px }
.header_nav { width: 1264px; height: 63px; background: #ff6200; position: absolute; bottom: 12px; left: 20px; z-index: 999; }
.header_nav ul { width: 625px; height: 24px; margin-left: 5%; overflow: hidden; margin-top: 18px; float: left }
.header_nav ul li a { width: 77px; text-align: center; font-size: 20px; color: #fff; height: 24px; line-height: 24px; display: block; border-right: 1px solid #ff914d; float: left; }
.header_nav ul li a.on { border-right: none !important }
.header_nav .search_box { width: 483px; float: right; height: 45px; margin-top: 7px }
.header_nav .search_box .search_input { width: 420px; height: 45px; line-height: 45px; border: none; text-indent: 10px; float: left }
.header_nav .search_box .search_but { width: 45px; height: 45px; background: url(http://www.rencheng.gov.cn/images/1238/img/search.png) center no-repeat; border: none }
.micro_blog { width: 79px; float: right; margin-top: 21px; display: none; }
.micro_blog a { width: 24px; height: 24px; display: inline-block; margin-left: 14px; float: left }
#mastWrap { width: 100%; margin: 0 auto; }
#mdgov_siteWrapper { width: 100%; height: 219px; }
.tongy_nav { width: 100%; margin: 0 auto; }
.header { height: 213px; margin-top: 0; width: 100%; }
.headerbox { background-color: #2a508e; height: 50px; line-height: 50px; position: fixed; width: 100%; z-index: 99999; margin-top: -215px; }
.headerbox1 { width: 1200px; margin: auto; }
.headerbox1 ul { width: 785px; }
.headerbox1 ul li { float: left; width: 118px; text-align: center; }
.headerbox1 ul li a { font-weight: bold; color: #fff; font-size: 17px; display: block; }
.box1 { background-color: #f7f7f7; }
.box1img { width: 1200px; margin: auto; line-height: 61px; height: 61px; overflow: hidden; }
.box1img ul { height: 61px; }
.box1img ul li { float: left; padding-left: 9px; margin-left: 9px; line-height: 52px; height: 61px; }
.box1img ul li:first-child { padding-left: 0; margin-left: 0; }
.box1img ul li a { color: #8c8c8c; font-size: 13px; }
/*搜索*/
.search_box { width: 452px; height: 40px; background: #fff url(../image/tu118.png) no-repeat 10px; margin-top: 10px; }
.search_form { width: 452px; height: 41px; padding-left: 46px; border: 1px solid #e7e8ee; }
.search_txt { font-size: 15px; color: #9e9d9d; border: 0; line-height: 39px; width: 309px; height: 39px; background-repeat: no-repeat; float: left; outline: linen; }
.search_btn { width: 95px; height: 39px; line-height: 39px; border: none; background: url(../image/anniu_03.png) no-repeat; float: right; outline: none; padding: 0; }
/*搜索2*/
.search_box1 { width: 390px; height: 40px; background: #fff url(../image/tu118.png) no-repeat 10px; margin-top: 4px; }
.search_form1 { width: 392px; height: 41px; padding-left: 46px; border: 1px solid #e7e8ee; }
.search_txt1 { font-size: 15px; color: #9e9d9d; border: 0; line-height: 39px; width: 249px; height: 39px; background-repeat: no-repeat; float: left; outline: linen; }
.search_btn1 { width: 93px; height: 39px; line-height: 39px; border: none; background: url(../image/anniu_03.png) no-repeat; float: right; outline: none; padding: 0; }
.box2 { background-color: #ffffff; height: 157px; border-bottom: 7px solid #2d548f; }
.box2list { width: 1200px; margin: auto; }
.box2-left { width: 292px; }
.box2-right { width: 908px; position: relative; }
.box2-right ul li { overflow: hidden; height: 150px; float: left; width: 139px; text-align: center; /*background-position: 150px 0;*/ }
.box2-right ul li a { display: block; color: #b0b0b0 !important; z-index: 9999999; position: relative; margin-top: 30px; height: 120px; }
.box2-right ul li span { display: inline-block; font-size: 17px; font-weight: bold; margin-top: 15px; width: 139px; }
.box2-right ul li a img { margin-left: 30px; }
.kou { line-height: 30px !important; height: 30px !important; margin-top: 0 !important; width: 48%; }
.daohang { background: none !important; width: 80px !important; }
.ion1 { background: url(../image/01.png) no-repeat; width: 40px; height: 40px; margin-left: 22px; float: left; }
.ion2 { background: url(../image/tu.png); width: 40px; height: 40px; }
.ion3 { background: url(../image/xingzhuang.png); width: 40px; height: 40px; }
.ion4 { background: url(../image/aaa.png); width: 39px; height: 39px; }
.ion5 { background: url(../image/zz.png); width: 45px; height: 39px; }
.ion6 { background: url(../image/ggg_03.png); width: 39px; height: 36px; margin-top: 33px; }
.ion7 { background: url(../image/l.png); width: 34px; height: 40px; margin-left: 42px; }
.box2-right ul li:hover .ion1 { background: url(../image/01.png) no-repeat; width: 40px; height: 40px; margin-left: 22px; float: left; }
.box2-right ul li:hover .ion2 { background: url(../image/tu.png); width: 40px; height: 40px; }
.box2-right ul li:hover .ion3 { background: url(../image/xingzhuang.png); width: 40px; height: 40px; }
.box2-right ul li:hover .ion4 { background: url(../image/aaa.png); width: 39px; height: 39px; }
.box2-right ul li:hover .ion5 { background: url(../image/zz.png); width: 45px; height: 39px; }
.box2-right ul li:hover .ion6 { background: url(../image/ggg_03.png); width: 39px; height: 36px; margin-top: 4px; }
.box2-right ul li:hover .ion7 { background: url(../image/05.png); width: 34px; height: 40px; margin-left: 42px; }
.box2-right ul li:hover .ziti { color: #2d548f !important }
.active4 { height: 120px; }
.box2-right ul li:hover #ululul { top: 0; opacity: 1; }
.box2-right ul li:hover .kon { top: -160px; }
.box2-right ul li:hover span { display: inline block !important; color: #b0b0b0 !important; }
.box2-right ul .nav_act a { display: block; color: #b0b0b0 !important; z-index: 9999999; margin-top: 30px; height: 123px; left: 0; top: 0; right: 0; bottom: 0; }
#ululul { width: 137px; margin-top: 0; height: 153px; background-color: #EBEFF4; position: absolute; left: 0; top: 90px; right: 0; z-index: 9999999; filter: alpha(opacity:0);
opacity: 0; transition: all 0.3s; }
.kon { transition: all 0.3s; }
#ululul span { margin-top: 10px !important; }
#ululul span > a { font-weight: normal !important; font-size: 14px !important; float: left; width: 68px; height: 34px; line-height: 34px; margin-top: -9px !important; display: inline-block !important; color: #516170 !important; }
#ululul .hui { margin-top: 21px; font-size: 17px !important; font-weight: bold; color: #71A9D3 !important; height: 30px; width: 137px !important; }
/*领导之窗*/
.con1 { height: 230px; }
.con1_left { width: 528px; height: 230px; }
.con1_left_title { background: url(../image/hengc1_03.png) no-repeat left; height: 51px; line-height: 51px; }
.con1_left_title a { font-size: 19px; font-weight: bold; color: #2d548f; margin-left: 15px; display: block; }
.con1_left ul { height: 154px; margin-top: 10px; overflow: hidden; }
.con1_left ul li { float: left; }
.con1_left ul .xon1 { width: 124px; height: 154px; }
.con1_left ul .xon2 { width: 188px; height: 154px; border-right: 1px solid #dedede; padding-left: 30px; padding-top: 7px; }
.con1_left ul .xon2 span { font-size: 15px; color: #333; display: block; height: 38px; line-height: 38px; }
.con1_left ul .xon2 a { display: inline-block; height: 60px; line-height: 60px; background: url(../image/landi.png) no-repeat center; font-size: 15px; color: #fff; text-align: center; position: relative; width: 98px; }
.con1_left ul .xon3 { width: 214px; height: 154px; padding-left: 20px; overflow: hidden; }
.fqz { width: 100%; height: 100%; float: left; }
.fqz ul { margin-top: 0; }
.fqz li { float: left; width: 134px; text-align: center; }
.fqz .fqzTitle { color: #333; font-size: 15px; width: 60px; text-align: left; line-height: 45px; }
.fqzName ul { width: 135px; margin-top: 0; }
.fqzName ul li { line-height: 40px; text-align: left; width: 66px; float: left; }
.fqzName li a { color: #333; font-size: 15px; }
.search { width: 528px; height: 48px; border: 1px solid #e4e4e4; margin-top: 20px; }
.search .text_search { float: left; width: 487px; height: 46px; line-height: 46px; padding-left: 10px; border: none; outline: none; font-size: 15px; color: #999999; }
.search .btn_search { float: left; width: 61px; height: 48px; }
.sosuo { height: 48px; line-height: 55px; width: 528px; }
.bnt_search { outline: none; }
.con1_right { width: 648px; height: 230px; }
.con1_right_title { background: url(../image/hengc2_05.png) no-repeat left; height: 51px; line-height: 51px; }
/*.con1_right_title a {
  font-size: 19px;
  font-weight: bold;
  color: #2d548f;
  margin-left: 20px;
  display: block;
  float: left;
}*/

.con1_right_title2 { background: url(../image/hengc2_05_01.png) no-repeat left; height: 51px; line-height: 51px; }
.ly-tabs ul { margin-left: 10px; }
.ly-tabs li { float: left; }
.ly-tabs a { color: #666; font-size: 19px; font-weight: bold; margin: 0 10px; }
.ly-tabs li.active a { color: #2d548f; }
.more { font-weight: normal !important; font-size: 15px !important; color: #333 !important; float: right !important; display: block !important; }
.con1_right_con { height: 242px; overflow: hidden; width: 648px; }
.con1_right_con ul { height: 242px; overflow: hidden; width: 648px; }
.con1_right_con ul li { height: 35px; line-height: 35px; float: left; width: 100%; padding-left: 14px; background: url(../image/1909042310154913539.png) no-repeat 0 50%; }
.con1_right_con ul li a { display: block; font-size: 15px; color: #333; float: left; width: 565px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.con1_right_con ul li span { float: right; font-size: 15px; color: #999999; }
.con2 { height: 48px; margin: 40px 0; }
.con2 ul { height: 48px; }
.con2 ul li { float: left; width: 223px; height: 46px; line-height: 40px; border: 1px solid #dbe4ec; background-color: #fdfdfd; margin-left: 21px; }
.con2 ul li:first-child { margin-left: 0; }
.con2 ul li a { font-size: 17px; color: #333; }
.con2 ul li img { padding: 10px 20px 0 20px; float: left; }
.con2 ul li a { display: block; float: left; height: 45px; line-height: 45px; }
/*政策文件*/
.con3 { height: 274px; }
.con3_left { height: 274px; width: 598px; }
.con3_title { background: url(../image/hengc3_03.png) no-repeat left; height: 39px; line-height: 39px; }
.con3_title a { font-size: 19px; font-weight: bold; color: #2d548f; margin-left: 15px; display: block; }
.wenjian { height: 39px; line-height: 39px; }
.wenjian span { color: #2d548f; font-size: 15px; display: block; padding: 0 7px; float: left; }
.con3_left ul { height: 196px; overflow: hidden; }
.con3_left ul li { height: 40px; line-height: 40px; background: url(../image/1909042310154913539.png) no-repeat 8px 50%; padding-left: 20px; }
.con3_left ul li a { display: block; height: 40px; line-height: 40px; font-size: 15px; color: #333; width: 460px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; float: left; }
.con3_left ul li span { float: right; font-size: 15px; color: #999999; width: 85px; height: 40px; line-height: 40px; color: #999999; overflow: hidden; }
.con3_right { width: 564px; height: 274px; }
.con3_con1 { height: 125px; margin-top: 8px; }
.con3_con1 ul { height: 125px; }
.con3_con1 ul li { height: 54px; line-height: 54px; float: left; width: 275px; margin-left: 14px; margin-top: 18px !important; text-align: center; }
.con3_con1 ul li a { font-size: 17px; color: #fff; display: block; line-height: 54px; }
.con3_con2 { height: 114px; margin-top: 18px; }
.con3_con2 ul { height: 114px; }
.con3_con2 ul li { height: 114px; line-height: 170px; width: 107px; background-color: #eeeff5; float: left; margin-left: 7px; text-align: center; }
.con3_con2 ul li:first-child { margin-left: 0; }
.con3_con2 ul li .bon1 { background: url(../image/czyjs0.gif) no-repeat center; display: block; height: 114px; width: 107px; font-size: 15px; color: #333; }
.con3_con2 ul li .bon2 { background: url(../image/ggzypz0.gif) no-repeat center; display: block; height: 114px; width: 107px; font-size: 15px; color: #333; }
.con3_con2 ul li .bon3 { background: url(../image/zdxm0.gif) no-repeat center; display: block; height: 114px; width: 107px; font-size: 15px; color: #333; }
.con3_con2 ul li .bon4 { background: url(../image/jsjfxx0.gif) no-repeat left; display: block; height: 114px; width: 107px; font-size: 15px; color: #333; }
.con3_con2 ul li .bon5 { background: url(../image/mslyxx0.gif) no-repeat left; display: block; height: 114px; width: 107px; font-size: 15px; color: #333; }
.con3_con2 ul li:hover .bon1 { background: url(../image/czyjs.gif) no-repeat center; display: block; height: 114px; width: 107px; font-size: 15px; color: #fff; }
.con3_con2 ul li:hover .bon2 { background: url(../image/ggzypz.gif) no-repeat center; display: block; height: 114px; width: 107px; font-size: 15px; color: #fff; }
.con3_con2 ul li:hover .bon3 { background: url(../image/zdxm.gif) no-repeat center; display: block; height: 114px; width: 107px; font-size: 15px; color: #fff; }
.con3_con2 ul li:hover .bon4 { background: url(../image/jsjfxx.gif) no-repeat left; display: block; height: 114px; width: 107px; font-size: 15px; color: #fff; }
.con3_con2 ul li:hover .bon5 { background: url(../image/mslyxx.gif) no-repeat left; display: block; height: 114px; width: 107px; font-size: 15px; color: #fff; }
/*行政监管*/
.con4 { height: 170px; margin: 30px 0; }
.con4_left { width: 598px; height: 246px; }
.con4_title { background: url(../image/hengc3_03.png) no-repeat left; height: 50px; line-height: 50px; }
.con4_title a { font-size: 19px; font-weight: bold; color: #2d548f; margin-left: 15px; display: block; }
.wenjian1 { height: 27px; line-height: 27px; }
.wenjian1 span { color: #2d548f; font-size: 15px; display: block; padding: 0 7px; float: left; }
.con4_left ul { height: 170px; overflow: hidden; }
.con4_left ul li { height: 40px; line-height: 40px; padding-left: 20px; background: url(../image/1909042310154913539.png) no-repeat 8px 50%; }
.con4_left ul li a { display: block; font-size: 15px; color: #333; width: 460px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; float: left; }
.con4_left ul li span { float: right; font-size: 15px; color: #999999; width: 85px; height: 40px; line-height: 40px; color: #999999; overflow: hidden; }
.con4 ul { height: 246px; }
.con4 ul li { height: 54px; line-height: 54px; width: 183px; border: 1px solid #dedede; float: left; margin-left: 20px; margin-top: 24px; text-align: center; }
.con4 ul li a { display: block; font-size: 17px; color: #333; }
.con4 ul li:first-child { margin-left: 0; }
.con4 ul li:nth-child(7) { margin-left: 0; }
.con4 ul li:hover { background-color: #479dcf; }
.con4 ul li:hover a { color: #fff; }
/*信息公开统计*/
.con5 { height: 330px; margin-top:30px; }
.con5_left { width: 326px; height: 314px; overflow: hidden; margin-left:25px; }
.con5_left_title { background: url(../image/hengc5_03.png) no-repeat left; height: 54px; line-height: 54px; }
.con5_left_title a { font-size: 19px; font-weight: bold; color: #2d548f; margin-left: 15px; display: block; }
.rq { background: url(../image/tu99.png) no-repeat 10px 1px; height: 220px; }
.rq ul { height: 220px; }
.rq ul li { padding-left: 64px; line-height: 36px; height: 36px; }
.rq ul li span { display: block; font-size: 15px; color: #033333; width: 178px; float: left; }
.rq ul li p { color: #033333; font-size: 17px; width: 78px; float: right; text-align: center; }
/*机构分类*/
.con5_center { width: 540px; height: 330px; margin-left: 25px; overflow: hidden; }
.con5_center_title { background: url(../image/hengc6_05.png) no-repeat left; height: 54px; line-height: 54px; }
.con5_center_title a { font-size: 19px; font-weight: bold; color: #2d548f; margin-left: 15px; display: block; }
.jigou { height: 216px; overflow-y: auto; }
.jigou li { height: 36px; line-height: 31px; float: left; width: 172px; }
.jigou li a { color: #033333; font-size: 15px; }
/*政府公报*/
.con5_right { width: 264px; height: 330px; }
.con5_right_title { background: url(../image/heng8_08.png) no-repeat left; height: 54px; line-height: 54px; }
.con5_right_title a { font-size: 19px; font-weight: bold; color: #2d548f; margin-left: 18px; display: block; }
.con5_right ul { height: 215px; margin-top: 7px; }
.con5_right ul li { width: 176px; height: 215px; margin: auto; }
/*选项卡*/
.list_2 { width: 563px; height: 228px; }
.list_2 .list_box { display: block; height: 200px; clear: both; overflow-y: auto; }
.list_2 .title_box { height: 28px; width: 100%; }
.list_2 .menu_box { height: 28px; width: 360px; }
.list_2 .menu_box span:hover { color: #215da3; }
.list_2 .menu_box span { width: 120px; float: left; line-height: 31px; color: #333333; font-size: 19px; cursor: pointer; position: relative; text-align: center; }
.list_2 .menu_box span.on {; color: #366fb8 }
/*移入时的颜色*/
.list_2 .menu_box span.on a { color: #366fb8 }
/*移入时的颜色*/
.menu_box a { height: 31px; line-height: 15px; display: block; color: #666666; font-size: 18px; font-weight: bold; width: 120px; }
.menu_box_1 { width: 31px; height: 20px; }
.menu_box_1 a { color: #999999; display: block; line-height: 14px; font-size: 15px; width: 44px; }
/*.list_box{margin-top: 5px;}*/
.list_2 .list li { line-height: 35px; width: 100%; height: 35px; float: left; }
.list_2 .list li a { font-size: 15px; color: #333333 }
.list_2 .list li .text { color: #333333; font-size: 14px; width: 100%; height: 35px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.list p { display: block; width: 516px; height: 30px; line-height: 30px; font-size: 16px; color: #db0000; }
.list_2 .list li .time { color: #999; font-size: 13px; height: 38px; line-height: 38px; }
/*五公开*/
.wgk_box { width: 1200px; margin: 20px auto; background-color: #eef5fd; padding: 20px; }
.wgk_box>ul>li { width: 215px; float: left; margin-right: 21px; padding: 10px 15px; box-shadow: 0 0 1px 1px rgb(241, 242, 244); cursor: pointer; position: relative; transition: all 0.2s ease-out 0s; background-color: #fff; border-radius: 10px; }
.wgk_box>ul>li:hover { background-color: #5d90c9; }
.wgk_box>ul>li:hover span { color: #fff; }
.wgk_box>ul>li:last-child { margin-right: 0; }
.wgk_box>ul>li img { width: 40px; height: 40px; display: block; float: left; }
.wgk_box>ul>li span { font-size: 18px; line-height: 40px; display: block; float: left; padding-left: 20px; }
.wgk_box>ul>li:hover .sub_box { display: block; }
.sub_box { display: none; position: absolute; top: 60px; left: 0; z-index: 1; background-color: #fff; width: 100%; box-shadow: 0 0 1px 1px rgb(241, 242, 244); padding: 10px 0; }
.sub_box ul li { height: 40px; padding: 0 10px; }
.sub_box ul li em { display: block; width: 5px; height: 5px; border-radius: 5px; background-color: #2d548f; float: left; margin-top: 17px; }
.sub_box ul li a { line-height: 40px; font-size: 15px; display: block; transition: all 0.2s ease-out 0s; padding-left: 15px; color: #000; }
.sub_box ul li:hover { background-color: #f6f6f6; }
/*专题展示*/
.zt_box { width: 1200px; margin: 20px auto; }
.zt_tit { width: 100%; height: 50px; line-height: 50px; background: url(../image/zt_titbg.jpg) no-repeat top center; margin-bottom:10px; }
.zt_ul1 { width: 295px; float: left; margin-right: 6px; }
.zt_ul1 li { background-color: #dcefff; height:75px; margin:6px 0; }
.zt_ul1 li:nth-child(1){ background:url(../image/ul1-1.jpg) no-repeat top center;}
.zt_ul1 li:nth-child(2){ background:url(../image/ul1-2.jpg) no-repeat top center;}
.zt_ul1 li:nth-child(3){ background:url(../image/ul1-3.jpg) no-repeat top center;}
.zt_ul1 li:nth-child(4){ background:url(../image/ul1-4.jpg) no-repeat top center;}
.zt_ul1 li a { display: block; color: #5384ab; color: #5384ab; line-height: 75px; text-align: center; font-size: 16px; font-weight: bold; }
.zt_ul1 li:hover{ background-color: #5384ab; background-image:none; }
.zt_ul1 li:hover a{ color:#fff;}
.zt_ul2 { width: 598px; float: left; margin-right: 6px; }
.zt_ul2 li{ width:296px; float:left; height:102px; background-color:#fdf2e4; margin-top:6px;}
.zt_ul2 li:nth-child(1){ background:url(../image/ul2-1.jpg) no-repeat top center;}
.zt_ul2 li:nth-child(2){ background:url(../image/ul2-2.jpg) no-repeat top center;}
.zt_ul2 li:nth-child(3){ background:url(../image/ul2-3.jpg) no-repeat top center;}
.zt_ul2 li:nth-child(4){ background:url(../image/ul2-4.jpg) no-repeat top center;}
.zt_ul2 li:nth-child(5){ background:url(../image/ul2-5.jpg) no-repeat top center;}
.zt_ul2 li:nth-child(6){ background:url(../image/ul2-6.jpg) no-repeat top center;}
.zt_ul2 li:nth-child(1),.zt_ul2 li:nth-child(3),.zt_ul2 li:nth-child(5){ margin-right:6px;}
.zt_ul2 li a{ display:block; line-height:102px; text-align:center; font-size:16px; font-weight:bold; color:#c0592c;}
.zt_ul2 li:hover{ background-color:#c0592c; background-image:none; }
.zt_ul2 li:hover a{ color:#fff;}
.zt_ul3 { width: 295px; float: right; }
.zt_ul3 li{ background-color:#e4f5ef; height:75px; margin:6px 0;}
.zt_ul3 li:nth-child(1){ background:url(../image/ul3-1.jpg) no-repeat top center;}
.zt_ul3 li:nth-child(2){ background:url(../image/ul3-2.jpg) no-repeat top center;}
.zt_ul3 li:nth-child(3){ background:url(../image/ul3-3.jpg) no-repeat top center;}
.zt_ul3 li:nth-child(4){ background:url(../image/ul3-4.jpg) no-repeat top center;}
.zt_ul3 li a{ display:block; line-height:75px; text-align:center; color:#2c9444; font-size:16px; font-weight:bold;}
.zt_ul3 li:hover{ background-color:#2c9444; background-image:none; }
.zt_ul3 li:hover a{ color:#fff;}
